.main{
    position: relative;
    border: 0px;
}
.about_left{
    width: 180px;
    margin: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.about_left_ul{
}
.about_left_ul li{
    margin: 0 0 5px 0;
}
*html .about_left_ul li{
    margin: 0 0 -5px 0;
}
.about_left_ul li a{
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #EEE;
    background: #EFEFEF;
    color: #777;
}
.about_left_ul li a:hover{
    background-color: #FE6600;
    color: #FFF;
}
.about_right{
    border-left: 1px solid #EEEEEE;
    line-height: 130%;
    margin-left: 200px;
    padding-left: 20px;
    width: 780px;
}
.about_right p{
    margin-bottom: 5px;
}
.about_right_ul li{
    border-bottom: 1px dotted #EEE;
    padding: 8px 5px;
	position: relative;
}
.about_right_ul li .fr{
	position:absolute;
	right:5px;
	top:8px;
}
.about_right_back_div{
    margin: 0 10px;
}
.about_right_title_div p{
    margin: 5px;
}
.about_right_content_div{
    margin: 15px;
    line-height: 21px;
}
.about_right_content_div p{
    margin: 15px 0;
    text-indent: 30px;
    color: #666;
}
.about_webmaster_ul{
    margin: 10px 0;
}
.about_webmaster_ul li{
    margin: 10px 0;
}
.about_webmaster_ul_li_p{
    margin: 5px 0;
}

/*--- about snsapply ---*/
.about_snsapply_nav_div{
    margin-bottom: 20px;
    text-align: center;
}
.about_snsapply_info{
    background: #DFF0D8;
    border: 1px solid #D6E9C6;
    border-radius: 5px 5px 5px 5px;
    color: #468847;
    margin: 0 0 10px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.about_snsapply_info_ul li{
    padding: 3px 10px;
}
.about_snsapply_ul{
    margin: 20px 0;
}
.about_snsapply_ul li{
    padding: 10px 0;
}
.about_snsapply_ul li p{
    margin-bottom: 10px;
}
.about_snsapply_ul li .textarea_style{
    width: 600px;
    height: 100px;
    margin: 0 15px;
    border-radius: 3px;
}
.about_snsapply_ul li .input_style{
    margin: 0 15px;
    border-radius: 3px;
}
.about_snsapply_ul li #submit{
    margin: 0 15px;
}

/*--- company ---*/
.about_company_ul{
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px dotted #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
}
.about_company_ul li{
    margin: 5px;
    font-size: 12px;
    color: #999;
}
.about_company_img_ul{
    padding-top: 15px;
}
.about_company_img_ul li{
    padding: 7px;
    display: inline-block;
}
.about_company_img_ul li img{
    width: 370px;
    height: 231px;
    border-radius: 3px;
}

/*--- suggestion ---*/
.suggestion_list_div{
    padding: 0 10px;
}
.suggestion_list_ul li{
    margin: 5px 0;
    border-radius: 3px;
    border: 1px solid #EEE;
    padding: 10px;
}
.suggestion_ihelpoo_reply_p{
    margin: 10px 0 10px 65px;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 5px 5px 5px 0px;
    display: inline-block;
}
.suggestion_school_reply_p{
    margin: 10px 0 10px 65px;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 5px 5px 5px 0px;
    display: inline-block;
}
