/*--- icon ---*/
.btn_group_a {
    background: url("../image/common/btn_group.png") no-repeat scroll 0 -80px transparent;
    color: #FFFFFF;
    display: block;
    height: 30px;
    line-height: 31px;
    text-align: center;
    width: 102px;
}
.btn_group_a:hover{
    background-position: 0 -120px;
}

.btn_iapply_a {
    background: url("../image/common/btn_group.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 37px;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 135px;
}
.btn_iapply_a:hover {
    background-position: 0 -40px;
}

/*--- ---*/
.stream_top_notice_info{
    margin: -10px -10px 10px -10px;
    padding: 5px 10px;
    background: #FFFA85;
    text-align: center;
    color: #666;
    position: relative;
	font-size: 12px;
	display: none;
}
.stream_top_notice_info .icon_index_wrong{
    cursor: pointer;
	z-index: 1111;
}
.main_index{
    margin:10px auto;
    min-height: 330px;
    width: 1000px;
}
.main_index_logo{
    margin: 35px 0 0 0;
}
.main_index_nav{
    padding: 10px 0;
}
.main_index_nav li{
    display: inline;
}
.main_index_nav li a{
    padding: 3px 9px;
	outline: none;
}
.main_index_nav li a:hover{
    color: #FFF;
    background-color: #FE6600;
}
.main_index_middle{
    height: 300px;
    position: relative;
    margin-top: 25px;
}
.main_index_middle_user_div{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 720px;
}
.index_user_facewall{
    margin: 0;
}
.index_user_facewall li{
    display: inline-block;
    margin: 0px;
}
*+html .index_user_facewall li{
    display: inline;
    margin: 0 1px;
}
*html .index_user_facewall li{
    display: inline;
    margin: 0 1px;
}
.index_user_nums{
    margin: 15px 0 0 0;
}
.mim_loginbox{
    float: right;
    height: 215px;
    padding: 15px 25px;
    position: relative;
    width: 220px;
}

.loginbox_email, .loginbox_password{
    background-image: url("../image/common/form_login.png");
    background-repeat: no-repeat;
    padding-left: 39px;
    padding-right: 4px;
    vertical-align: middle;
    
}
.loginbox_password{
    background-position: 0 -50px;
}
.loginbox_email_bg, .loginbox_password_bg{
    background: #FFF;
    width: 213px;
    margin-top: 20px;
    height: 28px;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 1px 0 #EAEAEA inset;
    color: #808080;
}

.loginbox_email_input, .loginbox_password_input{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent !important;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 #FFFFFF;
    color: #808080;
    height: 25px;
    width: 165px;
    margin: 1px 0;
    padding: 0 5px 0 0;
    outline-style: none;
    vertical-align: middle;
}

.loginbox_select{
    width: 215px;
    margin: 10px 0 0;
}

.loginbox_submit{
    width: 215px;
    margin: 20px 0 0;
}

.loginbox_submit a{
    background: url("../image/common/form_login.png") no-repeat scroll 0 -150px transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    height: 30px;
    line-height: 30px;
    padding: 2px 0 5px;
    text-align: center;
    vertical-align: 0;
    width: 143px;
}
.loginbox_submit a:hover{
    background-position: 0 -192px;
    text-decoration: none;
}

.loginbox_more{
    width: 215px;
    margin: 10px 0 0;
}


.loginbox_outer{
    background: #FFF;
    height: 215px;
    padding: 15px 25px;
    width: 220px;
    border: 1px solid #666;
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    opacity:0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}


.index_loginfast_div{
    float: right;
    height: 220px;
    padding: 15px 25px;
    position: relative;
    width: 235px;
    
}
.index_loginfast_div_nav_p{
    border-bottom: 1px solid #CCC;
}
.index_loginfast_div_nav_p a{
    display: inline-block;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 0px 10px;
    text-align: center;
    width: 90px;
}
.index_loginfast_div_nav_p a:hover{
    color: #C00;
}
.index_loginfast_div_nav_p_select{
    border-bottom: 2px solid #333;
}
.i_l_div_nav_p_span_info{
    display: block;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 0px 10px;
    text-align: center;
    width: 200px;
}
.index_loginfast_div_info_p{
    margin: 25px auto 10px;
    text-align: center;
}
.index_loginfast_div_icon_p{
    margin: 10px auto 0px;
    text-align: center;
}
.index_loginfast_div_name_p{
    margin: 10px auto;
    text-align: center;
}
.index_loginfast_div_registe_p{
    position: absolute;
    bottom: 10px;
    right: 10px;
}


lable{
    margin: 0 5px;
}
input{
    padding: 5px 2px;
    font-size: 14px;
    color: #666;
}
.index_out_box{
    border:1px dotted #EEE;
    background:#FFF;
    font: 12px;
    color: #999;
	position: absolute;
	top: 0px;
}
.index_list_box{
    border-bottom: 1px dotted #EEE;
    padding: 3px 5px;
    cursor: pointer;
}
.index_focus_box{
    border-bottom:1px dotted #EEE;
    padding: 3px 5px;
    cursor: pointer;
    background: #EEE;
    color: #999;
}
.index_mark_box{
    color:#666;
}

.register{
    position: absolute;
    right: 0;
    top: 20px;
}
.resetpw{
    position: absolute;
    right: 0;
    top: 0;
}
#logininfo{
    display: inline-block;
    margin: 5px 0 0 5px;
}
#verificationli{
    position: relative;
    height: 35px;
    display: none;
}
#verificationimg{
    height: 30px;
    width: 60px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100px;
}
#verificationcode{
    height: 12px;
    width: 60px;
    position: absolute;
    top: 0px;
    left: 5px;
}

.main_index_sub{
    text-align: center;
}
.main_index_sub_ul{
    
}
.main_index_sub_ul li{
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}
*+html .main_index_sub_ul li{
    display: inline;
    margin: 10px 20px;
}
.main_index_sub_ul li span{
    display: block;
    margin-top: 10px;
    color: #FFF;
}
.lay_background{
    position: absolute;
    top: 0;
    z-index: -2;
}
.texture_background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../image/common/bg_w.png') repeat left top;
}
.footer_index{
    clear:both;
    height:150px;
    width:100%;
    margin-bottom:0px;
    background: url('../image/common/index_but.jpg') no-repeat center top;
}
.footer_about{
    margin:30px auto;
    width:500px;
    text-align: center;
}
.footer_about p{
    margin: 3px;
}
#wb_connect_btn{
}
#wb_connect_btn a{
    color: #FFF;
}
#login_status{
    cursor: pointer;
}
*+html #wb_connect_btn .WB_loginButton{
	display:inline;
}
*html #wb_connect_btn .WB_loginButton{
	display:inline;
}
/*--- mate.phtml ---*/
.main{
	background: #FFF;
}
.main_mate{
    margin: 0 5px;
}
.main_mate_info{
    border-bottom: 3px solid #15B6D7;
    padding: 10px 5px;
	position: relative;
}
.main_mate_info_hot{
	text-align: right;
}
.main_mate_info_user_nums{
    position: absolute;
	right: 20px;
	top: 15px;
}
.main_mate_op_ul{
    padding: 10px 0 0 0;
}
.main_mate_op_ul li{
    display: inline-block;
    margin: 5px 3px;
}
.main_mate_user_ul{
    margin: 10px auto;
}
.main_mate_user_ul li{
    display: inline-block;
    margin: 10px 5px;
}
.m_m_u_u_li_name{
    display: block;
    text-align: center;
    width: 180px;
}
.main_mate_list_num{
    margin: 10px 0 0px 0;
    padding: 10px 0;
    border-top: 3px solid #CCC;
}
/*--- a select---*/
.s_l_l_a{
    display: inline-block;
    padding: 3px 0;
    width: 30px;
    text-align: center;
    border: 1px solid #CCC;
    color: #999;
    font-size: 12px;
}
.s_l_l_a:hover{
    background: #999;
    color: #FFF;
}
.s_l_l_a_select{
    display: inline-block;
    padding: 3px 0;
    width: 30px;
    text-align: center;
    border: 1px solid #6ccacd;
    font-size: 12px;
    font-weight: bold;
    background: #6ccacd;
    color: #FFF;
}
.m_m_op_a{
    display: inline-block;
    padding: 3px 8px;
    border: 1px solid #CCC;
    color: #999;
    font-size: 12px;
}
.m_m_op_a:hover{
    background: #FE6600;
    border: 1px solid #FE6600;
    color: #FFF;
}
.m_m_op_a_select{
    display: inline-block;
    padding: 3px 8px;
    text-align: center;
    border: 1px solid #15B6D7;
    font-size: 12px;
    font-weight: bold;
    background: #15B6D7;
    color: #FFF;
}
/*--- hot.phtml ---*/
.main_hot{
    position: relative;
}
.hot_left_ul{
    width: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.hot_left_ul li a{
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
}
.hot_left_ul li a:hover{
    background-color: #FE6600;
    color: #FFF;
}
.hot_left_ul_li_a_select{
    background-color: #15B6D7;
    color: #FFF;
}
.hot_right_ul{
    margin: 10px 0 0 170px;
}
.hot_right_ul li{
    position: relative;
    border-bottom: 2px dotted #CCC;
    padding: 10px 5px;
}
.h_r_ul_li_num{
    position: absolute;
    right: 795px;
    top: 15px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
.h_r_ul_li_img{
    margin-left: 25px;
}
.h_r_ul_li_comtent{
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 15px;
}
.h_r_ul_li_hit{
    position: absolute;
    right: 150px;
    top: 15px;
}
.h_r_ul_li_time{
    position: absolute;
    right: 5px;
    top: 15px;
}
/*--- group.phtml ---*/
.main_group_nav{
    margin: 10px;
    padding: 5px 10px;
    color: #FFF;
    position: relative;
}

.main_group_ul{
    margin: 10px 0;
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 15px 15px 20px;
}
.main_group_ul li{
    padding: 10px 5px;
	position: relative;
	display: inline-block;
	margin: 15px 10px;
}
.main_group_img_p_img{
    border: 1px solid #DDD; 
}
*html .main_group_ul li{
    padding: 1px 5px;
}
.main_group_img_p{
	position: relative; 
	width: 100px;
	display: inline-block;
}
.group_introduction_p{
    width: 100px;
	position: absolute;
	text-align: center;
}
*html .group_introduction_p{
	position: relative;
	bottom: 50px;
}
.main_invite_info_div{
    border-bottom: 3px solid #15B6D7;
    padding: 10px 5px;
    margin-bottom: 20px;
}
.main_invite_ul{
    margin: 15px;
}
.main_invite_ul li{
   padding: 5px;
   border-bottom: 1px dotted #CCC;
}


/*--- ie7 ---*/
*+html a{
	outline: none;
}
*+html .main_mate_user_ul li{
    display: inline;
    margin: 10px 5px;
}
*+html .main_mate_op_ul li{
    display: inline;
    margin: 5px 3px;
}
*+html .register{
    margin-left: 25px;
}

/*--- ie6 ---*/
*html a{
	outline: none;
}
*html .main_mate_user_ul li{
    display: inline;
    margin: 10px 5px;
}
*html .main_mate_op_ul li{
    display: inline;
    margin: 5px 3px;
}
*html .register{
    margin-left: 25px;
}
*html .hot_left_ul{
    width: 150px;
    position: absolute;
    left: -160px;
    top: 0px;
}
*html .hot_left_ul li{
    margin: 0;
	padding: 0;
	//border:1px solid #FFF;
}
*html .hot_right_ul{
    margin: 10px 0 0 160px;
}
*html .h_r_ul_li_num{
    right: 815px;
}
*html .h_r_ul_li_hit{
    right: 130px;
}
*html .h_r_ul_li_time{
    right: 20px;
}
*html .stream_list_ul li{
    padding: 15px 5px;
    position: relative;
    border-bottom: 3px solid #CCC;
	height:120px;
}