.main_lab_connect{
    margin: 10px 15px;
    background: #9C0;
    padding: 5px 20px;
    text-align: center;
    color: #FFF;
    position: relative;
}
.lab_div{
     margin: 15px;
     border: 1px solid #CCC;
     padding: 5px 10px;
}
.lab_div_p{
    border-bottom: 1px solid #EEE;
    padding: 10px;
}
.lab_div_ul{
    margin: 10px 20px;
}
.lab_div_ul li{
    padding: 3px 0;
}

/*--- maponline ---*/
.lab_btn{
    padding: 3px 5px;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    color: #999;
    border-radius: 3px;
    font-size: 12px;
}
.lab_btn_select{
    padding: 3px 5px;
    background-color: #15B6D7;
    border: 1px solid #15B6D7;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
}
.maponline_info_div{
    margin-top: 15px;
    padding: 5px;
}
.lab_btn_select_span{
    position: absolute;
    right: 0;
    bottom: 0;
}
.maponline_ul{
    border: 1px solid #EEE;
    padding: 10px;
    margin: 10px 0;
    border-radius: 3px;
}
.maponline_ul li{
    padding: 10px;
    border-bottom: 1px solid #EEEEEE;
}
.maponline_ul_dormitory{
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #DDD;
    background: #f5f5f5;
    margin: 5px 0;
    font-size: 12px;
    border-radius: 3px;
}
.maponline_ul_dormitory_house{
    padding: 5px 0;
}
.maponline_ul_dormitory_house p{
    display: inline-block;
    margin: 10px 5px;
}



.maponline_ul_academy{
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #DDD;
    background: #f5f5f5;
    margin: 5px 0;
    font-size: 12px;
    border-radius: 3px;
}
.maponline_ul_academy .ico_add, .maponline_ul_academy .ico_school{
    margin: 0 3px 0 0;
}
.maponline_ul_academy_house{
    padding: 5px 0;
}
.maponline_ul_academy_house p{
    display: inline-block;
    margin: 10px 5px;
}


.maponline_other_div{
    padding: 5px;
}
.maponline_other_ul{
    border: 1px solid #EEE;
    font-size: 12px;
    padding: 5px;
}
.maponline_other_ul li{
    display: inline-block;
    padding: 3px;
}