.main{
	position: relative;
}
.stream_top_notice_info{
    margin: -10px -10px 10px -10px;
    padding: 10px 10px;
    background: #FFFA85;
    text-align: center;
    color: #666;
    position: relative;
}
.stream_top_notice_info .icon_index_wrong{
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
}
.s_left{
    width: 150px;
    margin: 10px 0 0 10px;
    float: left;
	//position: absolute;
	//top: 10px;
	//left :10px;
}
.s_left ul li a{
    display: block;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px 0 0 5px;
}
.s_left ul li a:hover{
    color: #FFF;
    background: #6CCACD;
}
.s_right{
    margin: 10px 10px 10px 180px;
    padding: 0 10px 0 20px;
    width: 780px;
    border-left: 2px solid #C00;
}
/*---index.phtml---*/
.setindex li{
    padding: 8px 0;
    position: relative;
}
.setindex li .settitle{
    font-size: 12px;
    color: #666;
    margin-left: 5px;
}
.accountinfo{
    display: inline;
    margin-left: 30px;
}
#nickname{
    padding: 3px 2px;
    font-size: 14px;
    color: #666;
    margin-left: 40px;
}
#nicknameinfo{
    margin-left: 20px;
	color: #666;
}
.sex_part{
    display: inline-block;
    position: absolute;
    left: 80px;
	top: 5px;
}
#enteryear{
    position: absolute;
    left: 80px;
	font-size: 12px;
	color: #666;
}
.user_type_info{
    position: absolute;
    left: 160px;
    font-size: 12px;
}
.user_type_info a{
    color: #999;
}
.school_span{
    color: #666666;
    font-size: 12px;
    left: 80px;
    position: absolute;
}
#academy{
    position: absolute;
    left: 80px;
	font-size: 12px;
	color: #666;
}
#specialty{
    position: absolute;
    left: 80px;
	font-size: 12px;
	color: #666;
}
#dormitorytype{
    position: absolute;
    left: 80px;
	font-size: 12px;
	color: #666;
}
#dormitory{
    position: absolute;
    left: 160px;
	font-size: 12px;
	color: #666;
}
#dormitoryinfo{
    position: absolute;
    left: 260px;
}
#room{
    margin: 0 0 0 18px;
    width: 180px;
    color: #666;
	font-size: 12px;
	padding: 3px 2px;
}
#introduction{
    margin: 0 0 0 80px;
    width: 300px;
    height: 80px;
    padding: 5px;
    color: #666;
	font-size: 12px;
}
.intro_title{
    position: absolute;
    top: 10px;
}
#introductioninfo{

}
.moreinfo{
    background-color: #EFEFEF;
    border-bottom: 2px solid #CCCCCC;
    color: #999999;
    margin: 10px 0;
    padding: 3px 8px;
    border-radius: 3px;
}
.birthday_part{
    display: inline-block;
    position: absolute;
    left: 80px;
	top: 5px;
	font-size: 12px;
}
.birthday_part #year, #month, #day{
	font-size: 12px;
	color: #666;
}
.hometown_part{
    display: inline-block;
    position: absolute;
    left: 80px;
	top: 5px;
}
.hometown_part #province, #city{
	font-size: 12px;
	color: #666;
}
#set_submit{
    position: relative;
    left: 80px;
}
#ajaxprogressbar{
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    text-align: center;
}
#ajaxprogressbar img{
    padding: 10px 30px;
    border: 1px solid #EEE;
    border-radius:5px;
    background: #EFEFEF;
}
#infoupdateok{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #EEEEEE;
    border-radius:5px;
    background: #FFFA85;
    font-size: 12px;
    color: #666;
    display: none;
}
#infopsupdateok{
    position: relative;
    margin: 0 auto;
    top: 70px;
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 1px solid #EEE;
    border-radius:5px;
    background: #FFFA85;
    font-size: 12px;
    color: #666;
    display: none;
}
.setting_school_list_div{
    border-radius: 3px;
    padding: 15px 20px;
    width: 400px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    -moz-outline-radius: 8px 8px 8px 8px;
    background: none repeat scroll 0 0 #F5F5F5;
    border: 5px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px rgba(123, 214, 246, 0.6);  
}
#setting_school_close_span{
    position: absolute;
    right: 3px;
    top: 1px;
}
#setting_school_close_span .close_x{
    width: 14px;
    text-align: center;
    display: block;
}
.setting_school_list_div ul li{
    display: inline-block;
    margin: 3px 5px;
}
/*---real.phtml---*/
.real_explain{
    padding: 5px;
    background-color: #EEE;
    text-align: center;
}
.real li{
    padding: 10px 0;
    position: relative;
}
.real li .settitle{
    font-size: 12px;
    color: #666;
    margin-left: 5px;
}
#mobile, #qq, #weibo{
    padding: 3px 2px;
    font-size: 12px;
    color: #666;
    position: absolute;
    left: 80px;
    top: 2px;
    width: 180px;
}
.realname{
    font-size: 14px;
    color: #333;
    position: absolute;
    left: 80px;
}
.explaininfo{
    position: absolute;
    left: 290px;
    top: 8px;
}
#realsubmit{
    position: relative;
    left: 90px;
    padding: 5px 15px;
    color: #FFF;
    background-color: #6ccacd;
    font-size: 12px;
}
#realsubmit:hover{
    background-color: #FE6600;
}
/*--- label.phtml ---*/
.label_div_box{
    padding: 5px 15px 10px 15px;
}
.label_div_box_ul{
    border: 3px solid #EEE;
    padding: 20px 25px;
}
.label_div_box_ul_p{
    margin-bottom: 10px;
}
.label_ul{
    margin: 20px 0px;
}
.label_ul li{
    display: inline-block;
    border: 1px solid #15B6D7;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 12px;
}
.label_ul li:hover{
    background: #15B6D7;
    color: #FFF;
}
.label_ul_li_hover{
    background: #15B6D7;
    color: #FFF;
}
.label_form{
    display: inline-block;
    padding-right: 15px;
}
/*---ps.phtml---*/
#passwordoriginal, #password, #passwordrepeat, #fillaccountemail{
    padding: 3px 2px;
    font-size: 12px;
    color: #666;
    position: absolute;
    left: 90px;
    top: 10px;
    width: 160px;
}
#pssubmit, #fillaccountsubmit{
    position: relative;
    left: 90px;
    font-size: 12px;
}
#pssubmit:hover, #fillaccountsubmit:hover{
    background-color: #FE6600;
}
/*---data.phtml---*/
.data_ul li{
    padding: 5px;
    position: relative;
}
.data_ul li .data_content{
    margin-left: 10px;
    color: #333;
}
.data_ul li .time{
    position: absolute;
    left: 300px;
}
.data_ul li .data_separate{
    background-color: #EEE;
    height: 5px;
}
/*---stream/msg.phtml---*/
.msg_notread{
    background: #FFFA85;
}
.i_comment_list_num{
	margin:10px 0;
}
.msg_right{
    margin: 10px 10px 10px 180px;
    padding: 0 10px 10px 10px;
    width: 790px;
    border-left: 2px solid #C00;
}
.icon_garbage_del{
	position: absolute;
	right: 10px;
	top: 3px;
}
.msg_explain{
    padding: 6px 8px;
    color: #666;
	position: relative;
	border-bottom: 3px solid #EEE;
}
.msg_ul{

}
.msg_com_ul li{
    padding: 15px 10px;
    position: relative;
    border-bottom: 1px dotted #DDD;
    min-height: 50px;
}
.msg_ul li {
    border-bottom: 1px dotted #DDDDDD;
    padding: 15px 10px;
    position: relative;
}
.msg_li_time{
    font-size: 12px;
    color: #A8A8A8;
    position: absolute;
    right: 10px;
	top: 15px;
}
.msg_icon{
	position:absolute;
	left: 10px;
	top: 15px;
}
.msg_info{
	position:absolute;
	left: 90px;
	top: 15px;
	width: 600px
}
.msg_contentdetail{
    margin: 33px 0 0 80px;
    width: 690px;
}
.msg_div_del{
    border: 3px solid #CCC;
    padding: 20px;
    text-align: center;
}
.msg_div_del_sure{
    margin: 20px;
}
.btn_yes{
    padding: 5px 15px;
    color: #FFF;
    background-color: #6ccacd;
    font-size: 12px;
}
.btn_yes:hover{
    background-color: #FE6600;
}
.btn_no{
    padding: 5px 15px;
    color: #FFF;
    background-color: #CCC;
    font-size: 12px;
}
.btn_no:hover{
    background-color: #FE6600;
}
.msggetusers{
    cursor: pointer;
}
.msggetusers_ul li{
    padding: 5px;
    border-bottom: 1px solid #EEE;
}


.comment_view_div_box_replyinner{
    margin-bottom: 10px;
    position: relative;
    height: 65px;
    margin: 10px 0 0 80px;
    width: 510px;
    font-size: 12px;
    display: none;
}
.comment_view_div_box_replyinner_textarea{
    width: 500px;
    height: 30px;
    border-radius: 3px;    
    position: absolute;
    top: 0;
    left: 0;
}
.comment_textareaicon_replyinner{
    position: absolute;
    left: 0px;
    bottom: 3px;
}
.comment_reply_verification_stream{
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 200px;
    display: none;
}
.comment_reply_verification_stream_code_img{
    vertical-align: text-bottom;
}
.comment_reply_verification_streamcode{
    width: 60px;
    padding: 3px;
    -moz-transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s;
    border: 1px solid #D0D0D0;
    color: #666666;
    font-size: 12px;
    outline: medium none;
    word-wrap: break-word;
    vertical-align: text-bottom;
    margin-left: 5px;
}
.comment_reply_submit{
    position: absolute;
    right: 0;
    bottom: 0;
}

.replyemotionbox{
    z-index: 1111;
    background: #FFF;
    border: 1px solid #DDDDDD;
    display: none;
    min-height: 160px;
    min-width: 300px;
}
.emotionbox_close_p{
    background: #EEEEEE;
    padding: 10px 10px 5px;
}
.emotionbox_close_p .emotionbox_change_page{
    padding: 6px 8px;
    font-size: 12px;
    color: #333;
}
.emotionbox_close_p .emotionbox_change_page:hover{
    background: #FFF;
    color: #333;
}
.bg_emotionbox_page_select{
    background: #FFFFFF;
    border-color: #DDDDDD;
    border-style: solid solid none;
    border-width: 1px 1px 0;
}
.replyemotionbox_close{
    position: absolute;
    right: 5px;
    top: 5px;
}
.emotionbox_show_ul_inner{
    padding: 5px;
}
.emotionbox_show_ul_inner li{
    padding: 3px 8px;
}
.emotionbox_show_ul_inner li img{
    cursor: pointer;
    padding: 1px;
}

/*--- realfirst.phtml ---*/
.realfirst{
    border-bottom: 3px solid #15B6D7;
    margin: 10px 20px;
}
.realfirst ul{
    padding: 10px 5px;
}
.realfirst ul li{
    padding: 3px;
}
.realfirst_first_li{
    text-align: center;
    padding: 30px;
}
.realfirst_first_li input{
    padding: 2px 2px;
    font-size: 12px;
    color: #666;
    margin: 0 10px;
}
.realfirst_first_li submit{
    padding: 3px 5px;
    color: #666;
}
.realfirst_second_submit{
    padding: 2px 2px;
    color: #666;
    margin: 0 0 0 20px;
	font-size: 12px;
}
.realfirst_second_p{
    margin: 20px;
    text-align: center;
}
.realfirst_second_else_p{
    margin: 50px 30px;
}
.realfirst_second_div{
    border: 1px solid #EEE;
    padding: 0 10px 20px 10px;
}
/*--- icon.phtml ---*/
.image_upload_div img{
    border: 1px solid #EEE;
}
#icon_upload_form{
    margin: 20px 0 10px;
}
.image_cut_div{
    display: none;
}
#usericontarget_div_box{
    border: 1px solid #EEE;
    margin: 0 0 15px 0;
    width: 500px;
}
#preview_div_box{
    border: 1px solid #CCCCCC;
    height: 172px;
    margin: 0 0 15px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 95px;
    width: 230px;
}
.image_upload_div_right{
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 210px;
}
.image_upload_div_right_preview{
    position: absolute;
    right: 20px;
    top: 75px;
    width: 230px;
}
.image_new_div{
    display: none;
    position: relative;
}
.image_new_div_span{
    position: absolute;
    bottom: -25px;
    left: 0px;
}
.image_new_large{
    border: 1px solid #EEE;
}
.image_new_middle{
    border: 1px solid #EEE;
    position: absolute;
    left: 330px;
    bottom: 0px;
}
.image_new_small{
    border: 1px solid #EEE;
    position: absolute;
    left: 535px;
    bottom: 0px;
}


.uploadify {
	position: relative;
	margin-bottom: 1em;
}
.uploadify-button {
	background-color: #FF6600;
	border-radius: 3px;
	color: #FFF;
	font-size: 12px;
	text-align: center;
}
.uploadify:hover .uploadify-button {
	color: #FFF;
	background-color: #999;
	border-color:#7BD6F6; 
	-moz-outline:4px solid #E2F5FB; 
	-moz-outline-radius:8px; 
	-webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6); 
	box-shadow:0 0 10px rgba(123, 214, 246, .6);
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	background-color: #F5F5F5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 350px;
	padding: 10px;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url('../image/common/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}

.image_from_internet_div{
    display: none;
    margin-top: 15px;
}
#image_from_internet_input{
    width: 260px;
    font-size: 12px;
    border-radius: 2px;
    vertical-align: middle;
}
/*---bind.phtml ---*/
.s_bind_ul{
    border-bottom: 1px solid #CCC;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.s_bind_ul li{
    padding: 3px 0;
}
.s_bind_div{
    border: 1px solid #CCC;
    padding: 20px;
    border-radius: 3px;
}
.s_bind_div .bind_title{
    margin: 0 0 10px 0;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #EEE;
}
.s_bind_div .bind_info{
    margin: 10px 0 15px 0;
}
.s_bind_div_info_p{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #EEE;
}
.s_bind_div_ul li{
    padding: 8px 0;
    border-bottom: 1px dotted #EEEEEE;
}
.s_bind_div_ul li a img{
    vertical-align: bottom;
}
.invite_textarea_word{
    resize: none;
    line-height: 21px;
    margin: 4px 0 0 4px;
    overflow-y: auto;
    font-size: 12px;
    border: 1px solid #D0D0D0;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, -moz-box-shadow linear .2s;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
    outline: none;
    padding: 5px 8px;
    width: 500px;
    height: 70px;
}
.invite_textarea_word:focus {
	border-color: #7BD6F6;
	-moz-outline: 4px solid #E2F5FB;
	-moz-outline-radius: 8px;
	-webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
	box-shadow: 0 0 10px rgba(123, 214, 246, .6);
}
.invite_share_btn_div{
    height: 30px;
    padding: 5px;
}
/*--- ie7 ---*/
*+html .msg_ul li{
    display: inline-block;
}
*+html .label_ul li{
    display: inline;
	margin: 0 5px;
}
/*--- ie6 ---*/
*html .msg_ul li{
    display: inline-block;
}
*html .s_left_category li{
	padding: 10px 0;
}
*html .s_left ul li{
	margin: 0 0 -15px 0;
}
*html #infopsupdateok{
    top: 0px;
}
*html .label_ul li{
    display: inline;
	margin: 0 5px;
}