.main{
	position: relative;
}
.stream_top_notice_info{
    margin: -10px -10px 10px -10px;
    padding: 10px 10px;
    background: #FFFA85;
    text-align: center;
    color: #666;
    position: relative;
}
.stream_top_notice_info .icon_index_wrong{
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
}
.s_left{
    width: 150px;
    margin: 10px 0 0 10px;
    float: left;
	//position: absolute;
	//top: 10px;
	//left :10px;
}
.s_left ul li a{
    display: block;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px 0 0 5px;
}
.s_left ul li a:hover{
    color: #FFF;
    background: #6CCACD;
}
.s_right{
    margin: 10px 10px 10px 180px;
    padding: 0 10px 10px 20px;
    width: 780px;
    border-left: 2px solid #C00;
}
/*---index.phtml---*/
.setindex li{
    padding: 8px 0;
    position: relative;
}
.setindex li .settitle{
    font-size: 12px;
    color: #666;
    margin-left: 5px;
}
.accountinfo{
    display: inline;
    margin-left: 30px;
}
#nickname{
    padding: 3px 2px;
    font-size: 14px;
    color: #666;
    margin-left: 40px;
}
#nicknameinfo{
    margin-left: 20px;
	color: #666;
}
.sex_part{
    display: inline-block;
    position: absolute;
    left: 80px;
	top: 5px;
}
#enteryear{
    position: absolute;
    left: 80px;
	font-size: 12px;
	color: #666;
}
#enteryearinfo{
    position: absolute;
    left: 180px;
}
.school_span{
    color: #666666;
    font-size: 12px;
    left: 80px;
    position: absolute;
}
#academy{
    position: absolute;
    left: 80px;
	font-size: 12px;
	color: #666;
}
#specialty{
    position: absolute;
    left: 80px;
	font-size: 12px;
	color: #666;
}
#dormitorytype{
    position: absolute;
    left: 80px;
	font-size: 12px;
	color: #666;
}
#dormitory{
    position: absolute;
    left: 160px;
	font-size: 12px;
	color: #666;
}
#dormitoryinfo{
    position: absolute;
    left: 260px;
}
#room{
    margin: 0 0 0 18px;
    width: 180px;
    color: #666;
	font-size: 12px;
	padding: 3px 2px;
}
#introduction{
    margin: 0 0 0 80px;
    width: 300px;
    height: 80px;
    padding: 5px;
    color: #666;
	font-size: 12px;
}
.intro_title{
    position: absolute;
    top: 10px;
}
#introductioninfo{

}
.moreinfo{
    background-color: #EFEFEF;
    border-bottom: 2px solid #CCCCCC;
    color: #999999;
    margin: 10px 0;
    padding: 3px 8px;
    border-radius: 3px;
}
.birthday_part{
    display: inline-block;
    position: absolute;
    left: 80px;
	top: 5px;
	font-size: 12px;
}
.birthday_part #year, #month, #day{
	font-size: 12px;
	color: #666;
}
.hometown_part{
    display: inline-block;
    position: absolute;
    left: 80px;
	top: 5px;
}
.hometown_part #province, #city{
	font-size: 12px;
	color: #666;
}
#set_submit{
    position: relative;
    left: 80px;
}
#ajaxprogressbar{
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    text-align: center;
}
#ajaxprogressbar img{
    padding: 10px 30px;
    border: 1px solid #EEE;
    border-radius:5px;
    background: #EFEFEF;
}
#infoupdateok{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #EEEEEE;
    border-radius:5px;
    background: #FFFA85;
    font-size: 12px;
    color: #666;
    display: none;
}
#infopsupdateok{
    position: relative;
    margin: 0 auto;
    top: 70px;
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 1px solid #EEE;
    border-radius:5px;
    background: #FFFA85;
    font-size: 12px;
    color: #666;
    display: none;
}
.setting_school_list_div{
    border: 5px solid #DDD;
    background: #EDF4FB;
    border-radius: 3px;
    padding: 10px 15px;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
#setting_school_close_span{
    position: absolute;
    right: 2px;
    top: 2px;
}
.setting_school_list_div ul li{
    display: inline-block;
    margin: 3px 5px;
}
/*---real.phtml---*/
.real_explain{
    padding: 5px;
    background-color: #EEE;
    text-align: center;
}
.real li{
    padding: 10px 0;
    position: relative;
}
.real li .settitle{
    font-size: 12px;
    color: #666;
    margin-left: 5px;
}
#mobile, #qq, #weibo{
    padding: 3px 2px;
    font-size: 12px;
    color: #666;
    position: absolute;
    left: 80px;
    top: 2px;
    width: 180px;
}
.realname{
    font-size: 14px;
    color: #333;
    position: absolute;
    left: 80px;
}
.explaininfo{
    position: absolute;
    left: 290px;
    top: 8px;
}
#realsubmit{
    position: relative;
    left: 90px;
    padding: 5px 15px;
    color: #FFF;
    background-color: #6ccacd;
    font-size: 12px;
}
#realsubmit:hover{
    background-color: #FE6600;
}
/*--- label.phtml ---*/
.label_div_box{
    padding: 5px 15px 10px 15px;
}
.label_div_box_ul{
    border: 3px solid #EEE;
    padding: 20px 25px;
}
.label_div_box_ul_p{
    margin-bottom: 10px;
}
.label_ul{
    margin: 20px 0px;
}
.label_ul li{
    display: inline-block;
    border: 1px solid #15B6D7;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 12px;
}
.label_ul li:hover{
    background: #15B6D7;
    color: #FFF;
}
.label_ul_li_hover{
    background: #15B6D7;
    color: #FFF;
}
.label_form{
    display: inline-block;
    padding-right: 15px;
}
/*---ps.phtml---*/
#passwordoriginal, #password, #passwordrepeat, #fillaccountemail{
    padding: 3px 2px;
    font-size: 12px;
    color: #666;
    position: absolute;
    left: 90px;
    top: 10px;
    width: 160px;
}
#pssubmit, #fillaccountsubmit{
    position: relative;
    left: 90px;
    font-size: 12px;
}
#pssubmit:hover, #fillaccountsubmit:hover{
    background-color: #FE6600;
}
/*---data.phtml---*/
.data_ul li{
    padding: 5px;
    position: relative;
}
.data_ul li .data_content{
    margin-left: 10px;
    color: #333;
}
.data_ul li .time{
    position: absolute;
    left: 300px;
}
.data_ul li .data_separate{
    background-color: #EEE;
    height: 5px;
}
/*---stream/msg.phtml---*/
.msg_notread{
    background: #FFFA85;
}
.i_comment_list_num{
	margin:10px 0;
}
.msg_right{
    margin: 10px 10px 10px 180px;
    padding: 0 10px 10px 10px;
    width: 790px;
    border-left: 2px solid #C00;
}
.icon_garbage_del{
	position: absolute;
	right: 10px;
	top: 3px;
}
.msg_explain{
    padding: 6px 8px;
    color: #666;
	position: relative;
	border-bottom: 3px solid #EEE;
}
.msg_ul{

}
.msg_com_ul li{
    padding: 15px 10px;
    position: relative;
    border-bottom: 1px dotted #DDD;
    min-height: 50px;
}
.msg_ul li {
    border-bottom: 1px dotted #DDDDDD;
    padding: 15px 10px;
    position: relative;
}
.msg_li_time{
    font-size: 12px;
    color: #A8A8A8;
    position: absolute;
    right: 10px;
	top: 15px;
}
.msg_icon{
	position:absolute;
	left: 10px;
	top: 15px;
}
.msg_info{
	position:absolute;
	left: 90px;
	top: 15px;
	width: 600px
}
.msg_contentdetail{
    margin: 33px 0 0 80px;
    width: 690px;
}
.msg_div_del{
    border: 3px solid #CCC;
    padding: 20px;
    text-align: center;
}
.msg_div_del_sure{
    margin: 20px;
}
.btn_yes{
    padding: 5px 15px;
    color: #FFF;
    background-color: #6ccacd;
    font-size: 12px;
}
.btn_yes:hover{
    background-color: #FE6600;
}
.btn_no{
    padding: 5px 15px;
    color: #FFF;
    background-color: #CCC;
    font-size: 12px;
}
.btn_no:hover{
    background-color: #FE6600;
}
.msggetusers{
    cursor: pointer;
}
.msggetusers_ul li{
    padding: 5px;
    border-bottom: 1px solid #EEE;
}
/*--- userinfo ---*/
.user_info_div{
    border: 3px solid #DDDDDD;
    background: #FAFAFA;
    width: 300px;
    min-height: 125px;
    border-radius: 3px;
    padding: 10px;
    display: none;
    z-index: 1111;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.user_info_top_div{
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;
    margin-bottom: 10px;
    position: relative;
}
.user_info_top_div_img_a{
    display: block;
    width: 68px;
    height: 51px;
    position: relative;
}
.user_info_top_div_img_a img{
    border-radius: 3px;
}
.user_info_top_div_img_a span{
    position: absolute;
    bottom: 3px;
    right: 5px;
}
.user_info_top_div_nickname_p{
    position: absolute;
    top: 0px;
    left: 75px;
}
.user_info_top_div_quan_p{
    position: absolute;
    top: 27px;
    left: 75px;
}
.user_info_main_div ul li{
    padding: 2px 5px;
    color: #666;
}
.newremarkname_p{
    margin: 20px;
}
#newremarkname{
    border-radius: 2px;
    padding: 3px;
}
/*--- realfirst.phtml ---*/
.realfirst{
    border-bottom: 3px solid #15B6D7;
    margin: 10px 20px;
}
.realfirst ul{
    padding: 10px 5px;
}
.realfirst ul li{
    padding: 3px;
}
.realfirst_first_li{
    text-align: center;
    padding: 30px;
}
.realfirst_first_li input{
    padding: 2px 2px;
    font-size: 12px;
    color: #666;
    margin: 0 10px;
}
.realfirst_first_li submit{
    padding: 3px 5px;
    color: #666;
}
.realfirst_second_submit{
    padding: 2px 2px;
    color: #666;
    margin: 0 0 0 20px;
	font-size: 12px;
}
.realfirst_second_p{
    margin: 20px;
    text-align: center;
}
.realfirst_second_else_p{
    margin: 50px 30px;
}
.realfirst_second_div{
    border: 1px solid #EEE;
    padding: 0 10px 20px 10px;
}
/*--- icon.phtml ---*/
.image_upload_div img{
    border: 5px solid #EEE;
}
#icon_upload_form{
    margin: 20px 5px 10px 5px;
}
.image_cut_div{
    display: none;
}
#usericontarget_div_box{
    border: 5px solid #EEE;
    margin: 0 0 15px 0;
    width: 500px;
}
#preview_div_box{
    width: 500px;
    height: 375px;
    overflow: hidden;
    border: 5px solid #CCC;
    margin: 0 0 15px 0;
}
.image_upload_div_right{
    border: 3px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 210px;
}
.image_new_div{
    display: none;
    position: relative;
}
.image_new_large{
    border: 5px solid #EEE;
}
.image_new_middle{
    border: 4px solid #9C0;
    position: absolute;
    left: 530px;
    bottom: 5px;
}
.image_new_small{
    border: 3px solid #F60;
    position: absolute;
    left: 530px;
    bottom: 165px;
}

/*---bind.phtml ---*/
.s_bind_ul{
    border-bottom: 1px solid #CCC;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
.s_bind_ul li{
    padding: 3px 0;
}
.s_bind_div{
    border: 1px solid #CCC;
    padding: 20px;
    border-radius: 3px;
}
.s_bind_div .bind_title{
    margin: 0 0 10px 0;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #EEE;
}
.s_bind_div .bind_info{
    margin: 10px 0 15px 0;
}
.s_bind_div_info_p{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #EEE;
}
.s_bind_div_ul li{
    padding: 8px 0;
    border-bottom: 1px dotted #EEEEEE;
}
.s_bind_div_ul li a img{
    vertical-align: bottom;
}
.invite_textarea_word{
    resize: none;
    line-height: 21px;
    margin: 4px 0 0 4px;
    overflow-y: auto;
    font-size: 12px;
    border: 1px solid #D0D0D0;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, -moz-box-shadow linear .2s;
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
    outline: none;
    padding: 5px 8px;
    width: 500px;
    height: 70px;
}
.invite_textarea_word:focus {
	border-color: #7BD6F6;
	-moz-outline: 4px solid #E2F5FB;
	-moz-outline-radius: 8px;
	-webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
	box-shadow: 0 0 10px rgba(123, 214, 246, .6);
}
.invite_share_btn_div{
    height: 30px;
    padding: 5px;
}
/*--- ie7 ---*/
*+html .msg_ul li{
    display: inline-block;
}
*+html .label_ul li{
    display: inline;
	margin: 0 5px;
}
/*--- ie6 ---*/
*html .msg_ul li{
    display: inline-block;
}
*html .s_left_category li{
	padding: 10px 0;
}
*html .s_left ul li{
	margin: 0 0 -15px 0;
}
*html #infopsupdateok{
    top: 0px;
}
*html .label_ul li{
    display: inline;
	margin: 0 5px;
}