.main {
	border:0px;
	padding:0px;
	position: relative;
	width:1000px;
	border-radius: 3px;
}
.online_dot_status{
    background: none repeat scroll 0 0 #99CC00;
    display: inline-block;
    height: 8px;
    width: 8px;
    position: absolute;
    right: 5px;
    bottom: 8px;
    border-radius: 2px;
    border: 1px solid #EEEEEE;
}
.stream_top_notice_info{
    margin: -10px -10px 10px -10px;
    padding: 10px 10px;
    background: #FFFA85;
    text-align: center;
    color: #666;
    position: relative;
}
.stream_top_notice_info .icon_index_wrong{
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
}
.stream_right{
    background-color: #FAFAFA;
    position: absolute;
    top: 0;
	left: 0;
    width: 150px;
	height: 100%;
}
.stream_right .img_part{
    position: relative;
    width: 80px;
    margin: 40px 15px 15px 15px;
}
.img_part_name{
    position: absolute;
    left: 75px;
    top: 0px;
    width: 50px;
    display: block;
}
.s_r_ul_priority{
    margin: 10px;
}
.s_r_ul_priority li{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 33px;
    text-align: center;
    border-right: 1px solid #CCC;
}
.s_r_ul_priority li .f12{
    position: absolute;
    bottom: 0;
    left: 13px;
}
.splitter_line_div{
    border-top: 1px solid #EEE;
    margin: 15px 10px;
}
.s_r_ul{
    margin: 10px 0 0 0;
}
.s_r_ul li a{
    display: block;
    padding: 5px 15px;
    border-bottom: 0px solid #CCC;
	position: relative;
	color: #333333;
}
.s_r_ul li a:hover{
    background: #DADADA;
    color: #333;
}
.s_r_ul_sub{
    margin: 10px 0px 0 0;
}
.s_r_ul_sub li a{
    display: block;
    padding: 5px 15px;
    border-bottom: 0px solid #CCC;
}
.s_r_ul_sub li a:hover{
    background: #F60;
    color: #FFF;
}
/*--- left change to right ---*/
.stream_left{
    width: 658px;
    min-height: 888px;
    margin-left: 150px;
    position: relative;
    border-left: 1px solid #EEEEEE;
}
.stream_left_form_div{
    padding-bottom: 5px;
}
.s_t_send_info{
    padding: 15px 0 0 15px;
}
.s_l_textarea_info{
    position: relative;
    bottom: 6px;
    left: 225px;
}
.stream_textbox_ul{
    padding: 0px 10px 10px 10px;
    margin: 0px 10px;
    position: relative;
    width: 660px;
    z-index: 1;
}
#s_t_textarea{
    width: 520px;
    height: 100px;
    padding: 5px;
    color: #666;
    font-size: 14px;
}
.s_t_option{
    padding: 5px 0 0 0;
    position: relative;
    width: 460px;
}
.s_t_option span{
    margin-right: 10px;
}
.s_t_option_help{
    position: relative;
    top: 2px;
    left: 10px;
}
/*new add weibo*/
#weibo_sdk_btn{
    position: relative;
    top: 2px;
    left: 15px;
}
.weibo_sdk_message{
    display: inline-block;
    position: absolute;
    left: 230px;
    top: 5px;
    border: 1px solid #CCC;
    background: #EEE;
    padding: 3px 25px 3px 5px;
    z-index: 1111;
    border-radius: 3px;
}
.weibo_sdk_message li{
    padding: 2px;
}
.weibo_sdk_message .icon_quit{
    cursor: pointer;
    position: absolute;
    right: -5px;
    top: 6px;
}
.s_t_authority{
    position: absolute;
    top: 63px;
    left: 610px;
	font-size: 12px;
	color: #666;
}
#quietlyreleased{
    position: absolute;
    top: 60px;
    left: 565px;
    cursor: pointer;
}
#s_t_submit{
    position: absolute;
    top: 86px;
    left: 570px;
}
.at_auto_match_ul{
    font-size: 12px;
    background: #FFF;
    border: 2px solid #7BD6F6;
    border-radius: 3px;
	-moz-outline: 4px solid #E2F5FB;
	-moz-outline-radius: 8px;
	-webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
	box-shadow: 0 0 10px rgba(123, 214, 246, .6);
}
.auto_load_div{
    z-index: 1000;
}
.at_auto_match_ul li{
    padding: 2px 8px;
}
.at_auto_match_ul li:hover{
    background: #EEE;
}
#s_t_textarea_div_at{
    display: none;
    margin: 5px 8px;
    width: 530px;
}
#s_t_textarea_div_at li{
    display: inline-block;
    margin: 0 1px;
}
*+html #s_t_textarea_div_at li{
	display: inline;
}
*html #s_t_textarea_div_at li{
	display: inline;
}
.verification_code_p{
    position: absolute;
    left: 360px;
    top: 120px;
    display: none;
}
.verification_code_p input{
    padding: 2px;
    width: 68px;
    color: #666;
    font-size: 12px;
}
.verification_code_p img{
    vertical-align: bottom;
}
.stream_list_ul{
    padding: 10px;
}
.stream_list_ul li{
    padding: 15px 5px;
    position: relative;
    border-bottom: 1px solid #EEE;
    min-height: 88px;
}
.stream_list_ul_sort{
	text-align: right;
	padding: 6px 5px 3px 0px;
	height: 20px;
	border-bottom:1px dotted #CCC;
	border-top:1px dotted #CCC;
}
.stream_list_ul_sort_a{
    padding: 1px 2px;
    border-radius: 3px;
    color: #999;
    border: 1px solid #DDD;
}
.s_li_p_icon{
    width: 100px;
    position: absolute;
    left: 5px;
    top: 15px;
}
.s_li_p_user{
    position: absolute;
    left: 120px;
    top: 15px;
}
.s_li_user_constellation{
	position: absolute;
    left: 5px;
    top: 95px;
    text-align: center;
    width: 100px;
}
.s_li_p_content{
    width: 520px;
    margin: 25px 0 10px 115px;
    min-height: 25px;
    overflow: hidden;
}
*+html .s_li_p_content{
	padding-top: 25px;
}
*html .s_li_p_content{
	padding-top: 25px;
}
.s_li_p_content_image{
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
}
.s_li_p_content_image img{
    border: 3px solid #EEE;
    cursor: pointer;
    border-radius: 3px;
    margin: 5px 3px 5px 0;
}
.s_li_p_content_mv{
    margin: 10px 0 10px 115px;
}
*+html .s_li_p_content_mv{
	padding-left:115px;
}
*html .s_li_p_content_mv{
	padding-left:115px;
}
.s_li_p_content_mv_img_p{
    width: 150px;
    height: 110px;
    position: relative;
    cursor: pointer;
    border: 1px solid #EEE;
}
.s_li_p_content_mv_img{
    width: 150px;
    height: 110px;
}
.s_li_p_content_video_icon{
    width:60px;
    height:60px;
    background:url(../image/common/video.png) no-repeat 0 0;
    display:inline-block;
    position: absolute;
    left: 46px;
    top: 25px;
}
.s_li_p_content_video_icon:hover{
    background:url(../image/common/video.png) no-repeat 0 -60px;
}
*html .s_li_p_content_video_icon{
    background:url(../image/common/video.gif) no-repeat 0 -60px;
}
.s_li_s_time{
    margin-left: 115px;
	//position: absolute;
	//bottom: 15px;
	//left: 5px;
}
.s_li_s_comment{
    float: right;
	//position: absolute;
	//bottom: 15px;
	//right: 10px;
}

.comment_view_div_box_reply{
    margin-bottom: 10px;
    position: relative;
    height: 95px;
}
.comment_view_div_box_reply_textarea{
    width: 460px;
    height: 60px;
    border-radius: 3px;
}
#comment_textareaicon{
    position: absolute;
    left: 0px;
    bottom: 3px;
}

.comment_reply_verification_stream{
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 200px;
    display: none;
}
.comment_reply_verification_stream_code_img{
    vertical-align: text-bottom;
}
.comment_reply_verification_streamcode{
    width: 60px;
    padding: 3px;
    -moz-transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s;
    border: 1px solid #D0D0D0;
    color: #666666;
    font-size: 12px;
    outline: medium none;
    word-wrap: break-word;
    vertical-align: text-bottom;
    margin-left: 5px;
}

.comment_reply_submit{
    position: absolute;
    right: 0;
    bottom: 0;
}

.comment_view_div_box{
    margin:10px 0 0 115px;
    border:1px solid #DDD;
    border-radius:3px;
    padding:20px;
    display:none;
}
.comment_view_div_box_ul{
    margin-bottom: 10px;
    border-top: 1px solid #DDDDDD;
}
.comment_view_div_box_ul li{
    padding: 10px 5px;
    border-bottom: 1px solid #EEE;
    position: relative;
    min-height: 10px;
}
.c_v_d_b_ul_li_icon{
    position: absolute;
    left: 5px;
    top: 10px;
}
.c_v_d_b_ul_li_content{
    margin: 0 0 15px 50px;
}
.c_v_d_b_ul_li_content_image{
     margin: 0 0 10px 50px;
}
.c_v_d_b_ul_li_content_image img{
    border: 1px solid #999;
    border-radius: 3px;
}
.c_v_d_b_ul_li_content_reply{
    display: block;
    margin: 0 0 0 50px;
    text-align: right;
}

.comment_view_div_box_replyinner{
    margin-bottom: 10px;
    position: relative;
    height: 65px;
    margin: 10px 0 0 50px;
    display: none;
}
.comment_view_div_box_replyinner_textarea{
    width: 400px;
    height: 30px;
    border-radius: 3px;
}
.comment_textareaicon_replyinner{
    position: absolute;
    left: 0px;
    bottom: 3px;
}

.steam_repate_li_show{
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 3px;
    text-align: center;
}
.steam_repate_li_show:hover{
    border-color:#7BD6F6;
    -moz-outline:4px solid #E2F5FB;
    -moz-outline-radius:8px;
    -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6);
    box-shadow:0 0 10px rgba(123, 214, 246, .6);
}
.stream_list_link{
    padding: 10px 10px 20px 10px;
}
.s_l_l_a{
    display: inline-block;
    padding: 3px 0;
    width: 30px;
    text-align: center;
    border: 1px solid #CCC;
    color: #999;
    font-size: 12px;
}
.s_l_l_a:hover{
    background: #999;
    color: #FFF;
}
.s_l_l_a_select{
    display: inline-block;
    padding: 3px 0;
    width: 30px;
    text-align: center;
    border: 1px solid #6ccacd;
    font-size: 12px;
    font-weight: bold;
    background: #6ccacd;
    color: #FFF;
}
*html .scroll_float_div{
	text-align:right;
}
*html .scroll_float_div{
	position: fixed;
	right: 10px;
	bottom: 20px;
}
#emotionbox{
    position: absolute;
    left: 0px;
    top: 35px;
    z-index: 1111;
    background: #FFF;
    border: 1px solid #DDDDDD;
    display: none;
    min-height: 160px;
    min-width: 300px;
}
.replyemotionbox{
    z-index: 1111;
    background: #FFF;
    border: 1px solid #DDDDDD;
    display: none;
    min-height: 160px;
    min-width: 300px;
}
#emotionbox_item{
    position: absolute;
    left: 5px;
    top: 140px;
    z-index: 1111;
    background: #FFF;
    border: 3px solid #CCC;
    display: none;
    border-radius: 3px;
    min-height: 160px;
    min-width: 300px;
}
*+html #emotionbox_item{
    position: relative;
	min-height: 160px;
    top: 0;
	left: 0;
    width: 330px;
}
*html #emotionbox_item{
    position: relative;
	min-height: 160px;
    top: 0;
	left: 0;
    width: 330px;
}
.emotionbox_show_ul{
    padding: 5px;
}
.emotionbox_show_ul li{
    padding: 3px 8px;
}
.emotionbox_show_ul li img{
    cursor: pointer;
    padding: 1px;
}
.emotionbox_show_ul_inner{
    padding: 5px;
}
.emotionbox_show_ul_inner li{
    padding: 3px 8px;
}
.emotionbox_show_ul_inner li img{
    cursor: pointer;
    padding: 1px;
}
.emotionbox_close_p{
    background: #EEEEEE;
    padding: 10px 10px 5px;
}
.emotionbox_close_p .emotionbox_change_page{
    padding: 6px 8px;
    font-size: 12px;
    color: #333;
}
.emotionbox_close_p .emotionbox_change_page:hover{
    background: #FFF;
    color: #333;
}
.bg_emotionbox_page_select{
    background: #FFFFFF;
    border-color: #DDDDDD;
    border-style: solid solid none;
    border-width: 1px 1px 0;
}
#emotionbox_close{
    position: absolute;
    right: 0;
    top: 5px;
}
.replyemotionbox_close{
    position: absolute;
    right: 5px;
    top: 5px;
}
.i_c_b_form_icon_p{
    margin: 8px 0 5px 0;
}
.i_c_b_form_icon_p span{
    margin-right: 5px;
}
#reply_emotionbox{
    display: none;
    z-index: 1111;
    background: #FFF;
    border: 3px solid #CCC;
	min-height: 160px;
	min-width: 300px;
	border-radius: 3px;
}
.reply_emotionbox_show_ul li{
    padding: 3px 8px;
}
.reply_emotionbox_show_ul li img{
    cursor: pointer;
    padding: 1px;
}
.reply_emotionbox_close_p{
    background: #EEE;
    padding: 0 0 2px 3px;
}
.reply_emotionbox_close_p .reply_emotionbox_change_page{
    padding: 0 8px;
    font-size: 12px;
}
#reply_emotionbox_close{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 3px;
}
.img_upload_comment_form_div{
    margin-top: 10px;
    display: none;
}
#post_link_li{
    display: none;
    margin: 15px 0 0 0;

}
#post_link_li input{
    color: #999999;
    font-size: 12px;
    padding: 2px 3px;
    width: 270px;
}
.post_link_li_info{
    padding: 10px 27px 0;
    display: none;
}
#post_link_li #url_video_btn{
    margin: 0 5px;
}
#post_help_reword{
    display: none;
    margin: 15px 0 0 0;
}
#post_help_reword select{
    color: #666;
	font-size: 12px;
}
#reward_op_more{
    display: none;
    padding: 2px;
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}
/*category select new add*/
#help_user_recommend{
    margin: 10px 0;
    padding: 10px;
    display: none;
    border: 2px solid #CCC;
}
#help_user_recommend p{
    margin-bottom: 10px;
    position: relative;
}
#help_user_recommend li{
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
}
.help_user_recommend_li_a{
    display: block;
}
#help_user_recommend li .select_span{
    display: block;
    width: 30px;
    cursor: pointer;
    font-size: 12px;
    color: #FFF;
    background: #15B6D7;
    padding: 2px 3px;
    margin: 10px auto 0 auto;
}
.help_user_recommend_close{
    position: absolute;
    right: 5px;
    cursor: pointer;
}
#infotextareacheck{
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #666;
    z-index: 2;
}
#post_help_reword{
    display: none;
}
.priority_shield{
    display: none;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 15px;
}
/*--- upload image part---*/
.imgajaxloading_span{
    margin-left: 10px;
}
.img_upload_form_div{
    margin: 10px 20px;
    display: none;
}
.img_upload_form_div_p{
    margin: 15px 0 0 0;
}
.img_upload_form_div_p input{
    padding: 2px 3px;
    font-size: 12px;
    color: #666;
    width: 140px;
    margin: 0 5px;
}
#image_upload_list_ul{
    margin: 20px 0 10px 0;
    width: 500px;
}
.upload_img_list{
    padding: 8px;
    border-top: 1px dotted #BBB;
}
.upload_img_list img{
    border: 3px solid #EEE;
}
.upload_img_list a{
    margin: 0 10px 2px 10px;
}
.upload_img_list .icon_index_wrong{
    cursor: pointer;
    margin: 0 0 2px 0;
}
#post_groupmsgpush_li{
    margin-top: 15px;
	display: none;
}
/*new add for weiobo publish*/
#weibo_publish_li{
    padding-top: 10px;
	display: none;
}
/* scorll */
.scroll_float_div{
    position: fixed;
    right: 20px;
    bottom: 50px;
    color: #FFFFFF;
    display:none;
}
#scroll_top_btn{
    display: block;
}
#scroll_top_btn:hover{
    color: #7BD6F6;
    border-color:#7BD6F6;
    -moz-outline:4px solid #E2F5FB;
    -moz-outline-radius:8px;
    -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6);
    box-shadow:0 0 10px rgba(123, 214, 246, .6);
}
#scroll_suggestion_btn{
    background: #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    height: 15px;
    margin-top: 3px;
    padding: 5px 0;
    text-align: center;
    width: 35px;
}
#scroll_suggestion_btn:hover{
    color: #FFF;
    border-color:#7BD6F6;
    -moz-outline:4px solid #E2F5FB;
    -moz-outline-radius:8px;
    -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6);
    box-shadow:0 0 10px rgba(123, 214, 246, .6);
}

/*--- change skin ---*/
#change_skin_div{
    position: absolute;
    top: 90px;
    width: 500px;
    height: 290px;
    border: 5px solid #DDD;
    background: #f5f5f5;
    border-radius: 3px;
    -moz-outline: 4px solid #E2F5FB;
    -moz-outline-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
    box-shadow: 0 0 10px rgba(123, 214, 246, .6);
    z-index: 9999;
    display: none;
}
.change_skin_top_div{
    background: #EEE;
    padding: 5px 10px;
    position: relative;
}
#change_skin_close{
    position: absolute;
    right: 5px;
    top: 3px;
}
#change_skin_div_ul{
    margin: 10px 5px;
}
#change_skin_div_ul li{
    display: inline-block;
    margin: 10px 13px;
    position: relative;
}
*+html #change_skin_div_ul li{
    display: inline;
}
*html #change_skin_div_ul li{
    display: inline;
}
.change_skin_select_a img{
    width: 90px;
    height: 53px;
    border: 1px solid #CCC;
}
.change_skin_select_a img:hover{
    border: 1px solid #FE6600;
}
.change_skin_select_a span{
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #999;
    text-align: center;
}
.change_skin_select_a i{
    display: block;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    padding: 1px 3px;
    background: #C00;
    border-radius: 3px;
    position: absolute;
    top: 3px;
    right: 3px;
    font-style: normal;
}
.change_skin_save{
    margin: 0 10px;
    padding: 15px 5px;
    border-top: 1px solid #EEE;
}
#change_skin_save_info{
    position: absolute;
    left: 65px;
    color: #999;
}

/*--- diffusion part ---*/
.diffusion_list{
    width: 300px;
    font-size: 12px;
    color: #666;
    background: #FFFA85;
    padding: 10px 20px;
    border: 3px solid #CCC;
    margin: 0 auto;
    text-align: left;
    border-radius: 3px;
}
.diffusion_list .btn{
    margin-top: 10px;
    display: inline-block;
}

/*--- new add for bate3 ---*/
.stream_right_add{
    border-left: 1px solid #EEEEEE;
    min-height: 500px;
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    padding-top: 35px;
}
.stream_right_add_userinfo{
    border-bottom: 1px solid #EEE;
    padding: 10px 15px;
    margin: 5px;
}
.s_r_a_online_a{
    display: block;
    background: #EEE;
    padding: 2px 5px;
    border-radius: 3px;
    color: #A8A8A8;
}
.s_r_a_info_p{
    padding: 5px 8px;
    font-size: 12px;
    background: #FFFA85;
    margin: 5px 0;
    color: #666666;
}
.s_r_a_online_a:hover{
    background: #EDF4FB;
    color: #999;
}
.online_dot{
    background: none repeat scroll 0 0 #99CC00;
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 2px;
    border: 1px solid #EEEEEE;
}

#change_skin{
    background: url(../image/common/send_submit.png) no-repeat scroll -277px 0 transparent;
    display: block;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 23px;
}
#change_skin:hover{
    background-position: -277px -24px;
}

.stream_right_add_ul{
    margin: 10px 0;
}
.stream_right_add_ul li{
	padding: 5px 0;
}
.grade_ratio_box_ul{
    border-radius: 3px;
    border: 1px solid #EEE;
    padding: 5px;
    margin-top: 5px;
    background: #FAFAFA;
}
.grade_ratio_box_ul li{
    padding: 5px;
}
.stream_new_active_nums_span{
    padding: 0px 5px;
    color: #FFF;
    background-color: #F60;
    border-radius:3px;
    font-size: 12px;
    font-weight: bold;
}
/*--- userinfo ---*/
.user_info_div{
    border: 3px solid #CCC;
    background: #FAFAFA;
    width: 300px;
    min-height: 125px;
    border-radius: 3px;
    padding: 10px;
    display: none;
    z-index: 1111;
}
.user_info_top_div{
    border-bottom: 1px dotted #CCC;
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: relative;
}
.user_info_top_div_img_a{
    display: block;
    width: 68px;
    height: 51px;
    position: relative;
}
.user_info_top_div_img_a img{
    border-radius: 3px;
}
.user_info_top_div_img_a span{
    position: absolute;
    bottom: 3px;
    right: 5px;
}
.user_info_top_div_nickname_p{
    position: absolute;
    top: 0px;
    left: 75px;
}
.user_info_top_div_quan_p{
    position: absolute;
    top: 30px;
    left: 75px;
}
.user_info_main_div ul li{
    padding: 2px 5px;
    color: #666;
}
.newremarkname_p{
    margin: 20px;
}
#newremarkname{
    padding: 2px;
    font-size: 12px;
    color: #666666;
}
/*--- record plus ---*/
.record_plus_div{
    background: #F9F9F9;
    width: 220px;
    min-height: 18px;
    border-radius: 3px;
    padding: 5px;
    display: none;
    -moz-outline-radius: 8px 8px 8px 8px;
    border: 3px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px rgba(123, 214, 246, 0.6);
}
.stream_plus_users_p{
    font-size: 12px;
    padding: 0 5px;
}
.stream_plus_users_ul{
    margin-top: 5px;
    border-top: 1px solid #EEE;
}
.stream_plus_users_ul li{
    display: inline-block;
    margin: 5px;
}

.diffusion_view_div_box{
    position: relative;
    left: 115px;
    top: 20px;
    height: 60px;
    width: 500px;
    display: none;
}
.diffusion_view_div_box textarea{
    width: 200px;
    height: 18px;
	font-size: 12px;
	color: #666;
	padding: 1px 5px;
	-moz-transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s;
	border: 1px solid #D0D0D0;
	border-radius: 3px;
	line-height: 18px;
	outline: medium none;
	overflow-y: auto;
	padding: 3px 5px;
	resize: none;
	word-wrap: break-word;
}
.diffusion_view_div_box textarea:focus{
    width: 350px;
    height: 30px;
	border-color: #7BD6F6;
	-moz-outline: 4px solid #E2F5FB;
	-moz-outline-radius: 8px;
	-webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
	box-shadow: 0 0 10px rgba(123, 214, 246, .6);
}
.diffusion_view_btn{
    font-size: 12px;
    position: relative;
    top: -5px;
    left: 5px;
}

/*--- item ---*/
/*--- say.phtml ---*/
.main_item{
    padding: 10px;
}
.i_content{
    margin: 0 0 5px 0;
    position: relative;
}
.i_content_img{
    vertical-align: baseline;
}
.i_content_span_user{
    position: absolute;
    left: 50px;
    top: 6px;
}
.i_content_span_info{
    position: absolute;
    right: 5px;
    top: 6px;
}
.i_content_p{
    margin-top: 5px;
    border-top: 3px solid #CCC;
    border-bottom: 1px dotted #999;
    padding: 10px;
}
.i_record_diffusion{
    border: 1px dotted #999;
    border-top: 0px;
    padding: 10px;
    background: #f5f5f5;
}
.i_record_diffusion li{
    padding: 2px 0;
}
.i_record_plus_info{
    margin: 10px 0 5px;
}
.i_record_plus{
    border: 1px dotted #999;
    padding: 10px;
    background: #f5f5f5;
}
.i_record_plus li{
    padding: 2px 0;
    display: inline-block;
    margin: 0 10px;
}
.i_record_plus li span{
    display: block;
}
*+html .i_record_plus li{
    display: inline;
}
*html .i_record_plus li{
    display: inline;
}
.i_comment_box{
    border-bottom: 3px solid #EEE;
    padding: 10px 5px;
    position: relative;
}
.i_comment_box textarea{
    height: 90px;
    width: 430px;
    color: #666;
    font-size: 14px;
    -moz-transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    line-height: 18px;
    outline: medium none;
    overflow-y: auto;
    padding: 3px 5px;
    resize: none;
    word-wrap: break-word;
}
.i_comment_box textarea:focus {
	border-color: #7BD6F6;
	-moz-outline: 4px solid #E2F5FB;
	-moz-outline-radius: 8px;
	-webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
	box-shadow: 0 0 10px rgba(123, 214, 246, .6);
}
.i_c_b_verification{
    position: absolute;
    right: 535px;
    top: 115px;
    display: none;
}
.i_c_b_verification img{
    vertical-align: text-bottom;
}
.i_c_b_verificationcode{
    width: 60px;
    padding: 2px 3px;
    color: #666;
    font-size: 12px;
    vertical-align: text-bottom;
}
#i_c_b_submit{
    vertical-align: text-bottom;
    margin-left: 10px;
    position: absolute;
    top: 80px;
    left: 449px;
}
.i_comment_textarea_info{
    left: 460px;
    position: absolute;
    top: 12px;
    color: #999;
}
.i_comment_list{
    margin: 10px 0;
    width: 750px;
}
.i_comment_list_ul li{
    border-bottom: 1px solid #CCC;
    position: relative;
    padding: 15px 5px 30px 5px;
}
.i_comment_list_ul .now_reply_this_id{
    border-bottom: 3px solid #C00;
}
.i_c_l_u_li_spannum{
    position: absolute;
    left: 0;
}
.i_c_l_u_li_img{
    position: absolute;
    left: 25px;
    top: 15px;
}
.i_c_l_u_li_div{
    width: 645px;
    margin-left: 95px;
    min-height: 35px;
    overflow: hidden;
}
.i_c_l_u_li_div_img_p{
    margin: 10px 0;
}
.i_c_l_u_li_div_img_p img{
    border:2px solid #EEE;
    border-radius: 3px;
    max-height: 80px;
}
.i_c_l_u_li_div_time{
    position: absolute;
    left: 100px;
    bottom: 15px;
}
.comment_reply_div_box{
    position: relative;
    left: 95px;
    top: 20px;
    height: 90px;
    width: 500px;
    display: none;
}
.comment_reply_div_box textarea{
    width: 300px;
    height: 60px;
	font-size: 12px;
	color: #666;
	padding: 1px 5px;
	-moz-transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	line-height: 18px;
	outline: medium none;
	overflow-y: auto;
	padding: 3px 5px;
	resize: none;
	word-wrap: break-word;
}
.comment_reply_div_box textarea:focus{
	border-color: #7BD6F6;
	-moz-outline: 4px solid #E2F5FB;
	-moz-outline-radius: 8px;
	-webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
	box-shadow: 0 0 10px rgba(123, 214, 246, .6);
}
.comment_reply_verification{
    position: absolute;
    left: 320px;
    top: 0;
    display: none;
    width: 200px;
}
.comment_reply_verification_code_img{
    vertical-align: text-bottom;
}
.comment_reply_verificationcode{
    width: 60px;
    padding: 3px;
    -moz-transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s;
    border: 1px solid #D0D0D0;
    color: #666666;
    font-size: 12px;
    outline: medium none;
    word-wrap: break-word;
    vertical-align: text-bottom;
    margin-left: 5px;
}
.i_comment_list_num{
    margin: 10px;
}
.i_comment_list_link{
    margin: 0 10px
}
#i_shine_hit{
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    text-align: center;
}
#i_shine_hit_in{
    width: 100px;
    margin: 0 auto;
    background-color: #F60;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    display: none;
    border-radius: 5px;
}
#del_record_btn_yes, #del_record_btn_no{
    cursor: pointer;
    margin: 0 5px;
    padding: 2px 3px;
}
#del_record_btn_yes:hover, #del_record_btn_no:hover{
    padding: 2px 3px;
    background: #FFF;
    color: #333;
    border-radius: 3px;
}
#del_recordcomment_btn_yes, #del_recordcomment_btn_no{
    cursor: pointer;
    margin: 0 5px;
    padding: 2px 3px;
}
#del_recordcomment_btn_yes:hover, #del_recordcomment_btn_no:hover{
    padding: 2px 3px;
    background: #FFF;
    color: #333;
    border-radius: 3px;
}
/*--- ih.phtml ---*/
.ih_category{
    border-bottom: 1px solid #EEE;
    padding: 0px 0px 5px 5px;
    margin-bottom: 15px;
}
.i_h_c_img{
    height: 50px;
    border: 3px solid #CCC;
    border-radius: 3px;
}
.i_h_c_describe{
    margin-left: 80px;
    border: 3px solid #6ccacd;
    padding: 5px;
    height: 40px;
    position: relative;
    border-radius: 3px;
}
.i_h_c_describe p{
    margin: 2px 0;
}
.i_h_c_describe p span{
    vertical-align: text-top;
    position: relative;
    bottom: 2px;
}
.i_h_c_describe_time{
    position: absolute;
    right: 10px;
    top: 8px;
}
.i_h_c_describe_time .post_colck{
    vertical-align: text-top;
    position: relative;
    bottom: 3px;
}
.i_h_c_content{
    border: 3px solid #DDD;
    margin: 10px 0 0 0;
    padding: 15px;
}
.i_h_c_content_p{
    border-bottom: 3px dotted #DDD;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.i_h_c_contentbox{
    position: relative;
}
.i_h_c_contentbox textarea{
    width: 500px;
    height: 100px;
    -moz-transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s;
    border: 1px solid #D0D0D0;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    font-size: 14px;
    line-height: 18px;
    outline: medium none;
    overflow-y: auto;
    padding: 3px 5px;
    resize: none;
    word-wrap: break-word;
}
.i_h_c_contentbox textarea:focus{
    border-color: #7BD6F6;
    -moz-outline: 4px solid #E2F5FB;
    -moz-outline-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
    box-shadow: 0 0 10px rgba(123, 214, 246, .6);
}
.i_help_comment_textarea_info{
    left: 520px;
    position: absolute;
    top: 0px;
    color: #999;
}
#help_content_from_btn{
    vertical-align: text-bottom;
    position: relative;
    left: 5px;
    bottom: 8px;
}
.i_h_c_contentbox_sub{
    margin-top: 10px;
}
.i_h_c_contentbox_sub .icon_pump{
    vertical-align: text-top;
}
.i_h_c_helpend p{
    margin: 10px 0;
}
.i_h_c_helpend_img img{
    height: 35px;
    border: 2px solid #CCC;
}
.i_h_c_thanks_info {
    background-color: #EEEEEE;
    padding: 3px;
    text-align: center;
}
.i_h_c_thanks ul{
    border: 3px solid #EEE;
}
.i_h_c_thanks ul li{
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 12px;
}
.i_h_c_thanks ul li a{
    display: block;
}
.i_h_c_thanks_words{
    margin: 10px 0 5px 0;
}
.help_comment_reply_form{
    position: relative;
    padding-left: 95px;
    margin-top: 20px;
    display: none;
}
.help_comment_reply_form_textarea{
    width: 300px;
    height: 60px;
    -moz-transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s;
    border: 1px solid #D0D0D0;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    font-size: 14px;
    line-height: 18px;
    outline: medium none;
    overflow-y: auto;
    padding: 3px 5px;
    resize: none;
    word-wrap: break-word;
}
.help_comment_reply_form_textarea:focus{
    border-color: #7BD6F6;
    -moz-outline: 4px solid #E2F5FB;
    -moz-outline-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
    box-shadow: 0 0 10px rgba(123, 214, 246, .6);
}
/*--- u.phtml ---*/
.stream_u{
    margin: 20px 35px;
    position: relative;
}
.stream_u_img_p{
    position: relative;
    border: 5px solid #DDD;
    width: 500px;
    border-radius: 3px;
}
.stream_u_img_p img{
    width: 500px;
    margin-bottom: -3px;
}
.stream_u_img_more_p{
    position: absolute;
    top: 335px;
    left: 10px;
}
.stream_u_img_more_p a{
    padding-right: 5px;
}
.stream_u_img_more_p_img{
    border: 2px solid #EEE;
    border-radius: 3px;
}
.stream_u_img_more_p_img:hover{
    border-color: #7BD6F6;
    -moz-outline: 4px solid #E2F5FB;
    -moz-outline-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
    box-shadow: 0 0 10px rgba(123, 214, 246, .6);
}
.stream_u_img_more_btn_more{
    display: none;
}
.stream_u_img_more_btn_more_focus{
    display: inline-block;
    border-color: #7BD6F6;
    -moz-outline: 4px solid #E2F5FB;
    -moz-outline-radius: 8px;
    -webkit-box-shadow: 0 0 10px rgba(123, 214, 246, .6);
    box-shadow: 0 0 10px rgba(123, 214, 246, .6);
    padding: 0 3px;
    background: #7BD6F6;
    color: #FFF;
    border-radius: 3px;
}
.stream_u_ul{
    position: absolute;
    left: 600px;
    top: 25px;
    padding: 0 10px;
}
.stream_u_ul li{
    padding: 3px 0;
}
#del_help_record_btn_yes, #del_help_record_btn_no{
    cursor: pointer;
    margin: 0 5px;
    padding: 2px 3px;
}
#del_help_record_btn_yes:hover, #del_help_record_btn_no:hover{
    padding: 2px 3px;
    background: #FFF;
    color: #333;
    border-radius: 3px;
}
/*--- fav.phtml ---*/
.fav{
    margin: 0 10px;
}
.fav_info{
    border-bottom: 3px solid #15B6D7;
    padding: 10px 5px;
}
.fav_ul{
    padding: 10px 5px;
}
.fav_ul li{
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #EEE;
}
.fav_li_img{
    position: absolute;
    left: 0px;
    top: 10px;
}
.fav_li_p_content{
    margin-left: 75px;
    min-height: 35px;
}
.fav_li_p_time{
    margin-left: 75px;
}
.fav_li_p_time a{
    margin-left: 10px;
}
/*--- me.phtml ---*/
.img_part_me{
    position: relative;
    width: 68px;
    margin: 15px 40px;
}
.stream_left_p_me{
    margin: 10px;
    border-bottom: 1px solid #DDD;
    text-align: center;
    padding: 5px;
}
.stream_left_ul_me{
    border-top: 3px solid #CCC;
    margin: 10px;
    padding: 10px 0;
}
.stream_left_ul_me li{
    padding: 3px 0;
    text-align: center;
}
.stream_left_a_back_me{
    display: block;
    margin: 0 50px;
    padding: 5px 8px 3px 10px;
    background: #CCC;
}
.stream_left_a_back_me:hover{
    background: #AAA;
}

/*--- ie7 ---*/
*+html .s_t_option{
    padding: 5px 0 0 0;
}
*+html .stream_left_form_div{
	padding-bottom: 0px;
}
*+html .s_r_ul_priority li{
    display: inline;
}
*+html .stream_list_ul li{
	min-height: 90px;
}
*+html #help_user_recommend li{
    display: inline;
	width:80px;
}
*+html .stream_rewardhelp_show_div{
	height: 150px;
	padding: 10px;
}
*+html .stream_rewardhelp_show_div p{
	padding: 0px;
}
*+html #weibo_publish_li{
    padding-top: 0px;
}
*+html .s_li_p_content_image{
    margin: 0px auto 15px auto;
}
*+html .s_li_p_content_mv{
    margin: 0px auto 15px auto;
}
/*--- ie6 ---*/
*html .s_r_ul_priority li{
    display: inline;
}
*html .stream{
	position: relative;
}
*html .stream_right{
	margin-left:150px;
    width: 150px;
    height: 100%;
    float: left;
	position: absolute;
	left: -150px;
	top: 0px;
}
*html .s_r_ul li{
	margin:0 0 -13px 0;
}
*html .dot_choose{
    display: inline;
    width: 13px;
    height: 1px;
    background: #C00;
	position: absolute;
	right: 10px;
	top: 0px;
}
*html .stream_list_ul li{
	height: 90px;
}
*html .i_comment_list{
	position: relative;
}
*html .i_comment_list_ul li{
    height: 60px;
}
*html #help_user_recommend li{
    display: inline;
	width:80px;
}
*html .s_li_p_content_image{
    margin: 0px auto 20px auto;
}
*html .s_li_p_content_mv{
    margin: 0px auto 20px auto;
}
*html .s_r_ul_sub{
    margin: 15px 0px 10px 0;
    border-top: 1px dashed #CCC;
    padding-top: 15px;
}
*html .s_r_ul_sub li{
	margin: -12px 0;
}

.align-right{
    right:0;
}