/* ihelpoo */
a{ color:#059; text-decoration:none; cursor:pointer; }
li{ list-style:none; }
.f12{ font-size:12px; }
.f14{ font-size:14px; }
.f16{ font-size:16px; }
.fb{ font-weight:bold; }
.fn{ font-weight:normal; }
.fi{ font-style:italic; }
/*---*/
.white{ color:#FFF; }
.green{ color:#9C0; }
.green_d{ color: #6CCACD; }
.orange{ color:#F60; }
.reb_back{ color: #FE6600; }
.red_l{ color:#F30; }
.red{ color: #B20000; }
.yellow{ color:#FC0; }
.blue{ color:#09F; }
.blue_link{ color:#059; }
.blue_black{ color:#23405E; }
.blue_d{ color:#37579E; }
.blue_m{ color:#2A78C8; }
.blue_l{ color:#5CA3F3; }
.blue_w_d{ color:#E8EDF0; }
.blue_w_l{ color:#EDF4FB; }
.black{ color:#000; }
.black_m{ color:#333; }
.black_l{ color:#666; }
.gray{ color:#A8A8A8; }
.gray_l{ color:#CCC; }
/*---*/
.bg_green{ background-color:#9C0; color: #FFF; }
.bg_orange{ background-color:#F60; color: #FFF; }
.bg_blue{ background-color:#2A78C8; color: #FFF; }
.bg_gray{ background-color:#A8A8A8; color: #FFF; }
.bg_red{ background-color:#B20000; color: #FFF;}
.bg_brown{ background-color:#B16E3A; color: #FFF;}
.bg_bluegreen{ background-color:#CCEBDC; }
.bg_bluelight{ background-color:#EDF4FB; }
.bg_l_yellow{ background-color:#FFFA85; }
.radius3{border-radius:3px;}
.radius5{border-radius:5px;}
.arrow{font-family: simsun; margin: 0 4px;}
.lh13{ line-height:130%; }
.lh15{ line-height:150%; }
.lh18{ line-height:180%; }
.fr{ float:right; }
.fl{ float:left; }
.cb{ clear:both; }
/*---*/
.icon_write{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -60px -15px; display:inline-block; vertical-align:text-bottom; }
.icon_pump{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -60px 0; display:inline-block; vertical-align:text-bottom; }
.icon_quit{ width:12px; height:12px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -76px -76px; display:inline-block; vertical-align:text-bottom; }
.icon_function{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -45px 0; display:inline-block; vertical-align:top; }
.icon_text{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat 0 -15px; display:inline-block; vertical-align:text-bottom; }
.icon_mobile{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -75px -30px; display:inline-block; vertical-align:text-bottom; }
.icon_plus{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -60px -30px; display:inline-block; vertical-align:text-bottom; }
.icon_bplus{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -45px -60px; display:inline-block; vertical-align:bottom; margin-right:5px; }
.icon_bminus{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -60px -60px; display:inline-block; vertical-align:bottom; margin-right:5px; }
.icon_bplus_h{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -45px -60px; display:inline-block; vertical-align:bottom; margin-right:5px; }
.icon_recycle{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -30px -15px; display:inline-block; vertical-align:text-bottom; }
.icon_right{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -30px -45px; display:inline-block; vertical-align:text-bottom; }
.icon_sigh{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -15px -45px; display:inline-block; vertical-align:text-bottom; }
.icon_wrong{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -45px -45px; display:inline-block; vertical-align:text-bottom; }
.icon_folder{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -15px -60px; display:inline-block; vertical-align:text-bottom; overflow:hidden; }
.icon_folder_close{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat 0 -60px; display:inline-block; vertical-align:text-bottom; overflow:hidden; }
.icon_folder_lock{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -30px -60px; display:inline-block; vertical-align:text-bottom; overflow:hidden; }

.icon_download{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -15px -30px; display:inline-block; vertical-align:text-bottom; }
.icon_up{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat 0 -30px; display:inline-block; vertical-align:text-bottom; overflow:hidden; }
.icon_heart{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -15px -15px; display:inline-block; vertical-align:bottom; }
.icon_attention{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -60px -45px; display:inline-block; vertical-align:text-bottom; }
.icon_garbage{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -75px -14px; display:inline-block; vertical-align:text-bottom; }
.icon_listen{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -30px -30px; display:inline-block; vertical-align:text-bottom; }
.icon_search{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -30px 0; display:inline-block; vertical-align:bottom; }
.icon_arrowupd{ width:15px; height:13px; background:url(../../image/common/ihelpoo_icon.png) no-repeat 0 -75px; display:inline-block; vertical-align:text-bottom; }
.icon_notice{ width:20px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -30px -90px; display:inline-block; vertical-align:text-bottom; }
.icon_words{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -15px 0; display:inline-block; vertical-align:text-bottom; }
.icon_star{ width:15px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat 0 0; display:inline-block; vertical-align:text-bottom; }
/*---*/
.icon_new{ width:26px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -30px -105px; display:inline-block; vertical-align:text-bottom; }
.icon_recommend{ width:26px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat -45px -120px; display:inline-block; vertical-align:text-bottom; }
.icon_hot{ width:32px; height:16px; background:url(../../image/common/ihelpoo_icon.png) no-repeat 0px -120px; display:inline-block; vertical-align:text-bottom; }
.icon_contact{ width:30px; height:15px; background:url(../../image/common/ihelpoo_icon.png) no-repeat 0px -105px; display:inline-block; vertical-align:text-bottom; }
.icon_qzone{ width:16px; height:16px; background:url(../../image/common/ihelpoo_icon.png) no-repeat 0 -180px; display:inline-block; vertical-align:top; margin-right:3px; }
.icon_weibo{ display:inline-block; vertical-align:top; margin-right:3px; }
.icon_play{ display:inline-block; vertical-align:text-bottom; }
/*---*/
.icon_index_mobile{ width:15px; height:18px; background:url(../../image/common/index_btn.png) no-repeat 0px -100px; display:inline-block; vertical-align:text-bottom; }
.icon_index_andriod{ width:15px; height:18px; background:url(../../image/common/index_btn.png) no-repeat 0px -118px; display:inline-block; vertical-align:text-bottom; }
.icon_index_wrong{ width:11px; height:11px; background:url(../../image/common/index_btn.png) no-repeat -18px -154px; display:inline-block; vertical-align:text-bottom; }
/*---*/
.icon_n_fans{ width:18px; height:16px; background:url(../../image/common/icon_n.png) no-repeat 0 0; display:inline-block; vertical-align:middle; }
.icon_n_follow{ width:18px; height:16px; background:url(../../image/common/icon_n.png) no-repeat 0 -16px; display:inline-block; vertical-align:middle; }
.icon_n_msg{ width:18px; height:16px; background:url(../../image/common/icon_n.png) no-repeat 0 -32px; display:inline-block; vertical-align:middle; }
.icon_n_thumb{ width:18px; height:16px; background:url(../../image/common/icon_n.png) no-repeat 0 -48px; display:inline-block; vertical-align:middle; }
.icon_n_color{ width:18px; height:16px; background:url(../../image/common/icon_n.png) no-repeat 0 -64px; display:inline-block; vertical-align:text-bottom; }
/*---*/
.circle_l_b{ background:#FFF; position:absolute; left:0; bottom:0px; height:1px; width:1px; display:block; }
.circle_r_b{ background:#FFF; position:absolute; right:0; bottom:0px; height:1px; width:1px; display:block; }
.circle_l_t{ background:#FFF; position:absolute; left:0; top:0px; height:1px; width:1px; display:block; }
.circle_r_t{ background:#FFF; position:absolute; right:0; top:0px; height:1px; width:1px; display:block; }
/*---*/
.grade1{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 0; display:inline-block; position: absolute; right: -2px; top: -2px; }
.grade2{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -35px; display:inline-block; position: absolute; right: -2px; top: -2px; }
.grade3{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -70px; display:inline-block; position: absolute; right: -2px; top: -2px; }
.grade4{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -105px; display:inline-block; position: absolute; right: -2px; top: -2px; }
.grade5{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -140px; display:inline-block; position: absolute; right: -2px; top: -2px; }
.grade6{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -175px; display:inline-block; position: absolute; right: -2px; top: -2px; }
.gradeg{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -210px; display:inline-block; position: absolute; right: -2px; top: -2px; }
.grades{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -245px; display:inline-block; position: absolute; right: -2px; top: -2px; }
.gradegra{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -280px; display:inline-block; position: absolute; right: -2px; top: -2px; }
.gradesen{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -315px; display:inline-block; position: absolute; right: -2px; top: -2px; }
.gradetea{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -350px; display:inline-block; position: absolute; right: -2px; top: -2px; }
.gradebef{ width:35px; height:35px; background:url(../../image/common/grade.png) no-repeat 0 -385px; display:inline-block; position: absolute; right: -2px; top: -2px; }

/*---*/
.post_icon{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat 0 0; display:inline-block; cursor: pointer; }
.post_icon:hover{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -20px 0; display:inline-block; cursor: pointer; }
.post_img{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat 0 -20px; display:inline-block; cursor: pointer; }
.post_img:hover{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -20px -20px; display:inline-block; cursor: pointer; }
.post_video{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -0 -40px; display:inline-block; cursor: pointer; }
.post_video:hover{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -20px -40px; display:inline-block; cursor: pointer; }
.post_at{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat 0 -60px; display:inline-block; cursor: pointer; }
.post_at:hover{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -20px -60px; display:inline-block; cursor: pointer; }
.post_link{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -40px -120px; display:inline-block; cursor: pointer; }
.post_link:hover{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -60px -120px; display:inline-block; cursor: pointer; }
.post_appendix{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat 0px -120px; display:inline-block; cursor: pointer; }
.post_appendix:hover{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -20px -120px; display:inline-block; cursor: pointer; }
.post_appendix_gray{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat 0px -120px; display:inline-block; cursor: pointer; }
.post_colck{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -20px -140px; display:inline-block; cursor: pointer; }
.post_status{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -20px -100px; display:inline-block; cursor: pointer; }
.post_link_static{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -60px -120px; display:inline-block; }
.post_img_static{ width: 18px; height: 18px; background:url(../../image/common/poster.png) no-repeat -20px -20px; display:inline-block; }

/*--- btn.png ---*/
.btn_back{ width: 24px; height: 15px; background:url(../../image/common/btn.png) no-repeat -24px -100px; display:inline-block; cursor: pointer; }
.btn_back:hover{ width: 24px; height: 15px; background:url(../../image/common/btn.png) no-repeat 0px -100px; display:inline-block; cursor: pointer; }
.btn_more{ width: 24px; height: 12px; background:url(../../image/common/btn.png) no-repeat -48px -75px; display:inline-block; cursor: pointer; margin-left: 10px; }

/*---*/
.helpleaf{ width: 40px; height: 18px; background:url(../../image/common/helpleaf.png) no-repeat 0px -36px; display:inline-block; cursor: pointer; }
.helpleaf:hover{ width: 40px; height: 18px; background:url(../../image/common/helpleaf.png) no-repeat 0px 0px; display:inline-block; cursor: pointer; }
.helpleaf_select{ width: 40px; height: 18px; background:url(../../image/common/helpleaf.png) no-repeat 0px -18px; display:inline-block; cursor: pointer; }
/*---*/
.btn_weibo{ width: 24px; height: 18px; background:url(../../image/common/weibo_select.png) no-repeat 0px 0px; display:inline-block; cursor: pointer; }
.btn_weibo:hover{ width: 24px; height: 18px; background:url(../../image/common/weibo_select.png) no-repeat 0px -18px; display:inline-block; cursor: pointer; }
.btn_weibo_select{ width: 24px; height: 18px; background:url(../../image/common/weibo_select.png) no-repeat 0px -36px; display:inline-block; cursor: pointer; }

/*---*/
.sex1{
    background: url("../../image/common/sex.png") no-repeat scroll -1px -2px transparent;
    display: inline-block;
    float: left;
    height: 18px;
    width: 18px;
    margin-right: 3px;
}
.sex2{
    background: url("../../image/common/sex.png") no-repeat scroll -22px -2px transparent;
    display: inline-block;
    float: left;
    height: 18px;
    width: 18px;
    margin-right: 3px;
}
/*---*/
.online0{ width: 40px; height: 12px; background:url(../../image/common/onlinestatus.png) no-repeat 0px -12px; display:inline-block; }
.online1{ width: 40px; height: 12px; background:url(../../image/common/onlinestatus.png) no-repeat 0px 0px; display:inline-block; }
.online2{ width: 40px; height: 12px; background:url(../../image/common/onlinestatus.png) no-repeat 0px -12px; display:inline-block; }
/*---*/
.level1{ width: 14px; height: 14px; background:url(../../image/common/level.png) no-repeat 0px 0px; display:inline-block; vertical-align: middle; }
.level2{ width: 14px; height: 14px; background:url(../../image/common/level.png) no-repeat 0px -14px; display:inline-block; vertical-align: middle; }
.level3{ width: 14px; height: 14px; background:url(../../image/common/level.png) no-repeat 0px -28px; display:inline-block; vertical-align: middle; }
.level4{ width: 14px; height: 14px; background:url(../../image/common/level.png) no-repeat 0px -42px; display:inline-block; vertical-align: middle; }
.level5{ width: 14px; height: 14px; background:url(../../image/common/level.png) no-repeat 0px -56px; display:inline-block; vertical-align: middle; }
.level6{ width: 14px; height: 14px; background:url(../../image/common/level.png) no-repeat 0px -70px; display:inline-block; vertical-align: middle; }
.level7{ width: 14px; height: 14px; background:url(../../image/common/level.png) no-repeat 0px -84px; display:inline-block; vertical-align: middle; }
.level8{ width: 14px; height: 14px; background:url(../../image/common/level.png) no-repeat 0px -98px; display:inline-block; vertical-align: middle; }
.level9{ width: 14px; height: 14px; background:url(../../image/common/level.png) no-repeat 0px -112px; display:inline-block; vertical-align: middle; }
.level10{ width: 14px; height: 14px; background:url(../../image/common/level.png) no-repeat 0px -126px; display:inline-block; vertical-align: middle; }

/*---*/
.dot_choose{display: inline-block; width: 13px; height: 5px; background: #C00; margin: 6px; float: right; position: absolute; right: 10px; top: 5px;}
/*---*/
.message{position: relative;  bottom: 5px; right: 3px; background-color: #FE6600; color: #FFF; padding:1px 5px; font-weight: bold; border-radius:3px;}
.message_blue{position: relative; bottom: 5px; right: 2px; background-color: #6CCACD; color: #FFF; padding:1px 5px; font-weight: bold; border-radius:3px;}
.message_green{position: relative; bottom: 5px; right: 2px; background-color: #9C0; color: #FFF; padding:1px 5px; font-weight: bold; border-radius:3px;}
.message_yellow{position: relative; bottom: 5px; right: 2px; background-color: #FC0; color: #FFF; padding:1px 5px; font-weight: bold; border-radius:3px;}
.message_gray{position: relative; bottom: 5px; right: 2px; background-color: #BBB; color: #FFF; padding:1px 5px; font-weight: bold; border-radius:3px;}

.default_c{color: #6CCACD;}
.beautiful_c{color: #15B6D7;}
/*---*/
.btn{padding: 3px 5px; border-radius:3px; color: #FFF; cursor: pointer; background-color: #FE6600; }
.btn:hover{color: #FFF; background-color: #999;  border-color:#7BD6F6; -moz-outline:4px solid #E2F5FB; -moz-outline-radius:8px; -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6); box-shadow:0 0 10px rgba(123, 214, 246, .6);}

.btn_sure{padding: 3px 5px; border-radius:3px; color: #FFF; cursor: pointer; background-color: #FE6600; font-size: 12px; }
.btn_sure:hover{color: #FFF; background-color: #999;  border-color:#7BD6F6; -moz-outline:4px solid #E2F5FB; -moz-outline-radius:8px; -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6); box-shadow:0 0 10px rgba(123, 214, 246, .6);}
.btn_cancel{padding: 3px 5px; border-radius:3px; color: #666; cursor: pointer; background-color: #F5F5F5; font-size: 12px; }
.btn_cancel:hover{color: #FFF; background-color: #999;  border-color:#7BD6F6; -moz-outline:4px solid #E2F5FB; -moz-outline-radius:8px; -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6); box-shadow:0 0 10px rgba(123, 214, 246, .6);}

.btn_brown{padding: 5px 15px; color: #FFF; background-color: #B16E3A; border-radius:3px; }
.btn_brown:hover{background-color: #FE6600; border-color:#7BD6F6; -moz-outline:4px solid #E2F5FB; -moz-outline-radius:8px; -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6); box-shadow:0 0 10px rgba(123, 214, 246, .6);}

.btn_red{padding: 5px 15px; color: #FFF; background-color: #B20000; border-radius:3px; }
.btn_red:hover{background-color: #FE6600; border-color:#7BD6F6; -moz-outline:4px solid #E2F5FB; -moz-outline-radius:8px; -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6); box-shadow:0 0 10px rgba(123, 214, 246, .6);}

.btn_quaned{padding: 2px 9px; color: #666; background-color: #EEEEEE; border: 1px solid #CCC; border-radius:3px; cursor: pointer; }
.btn_quaned:hover{color: #FFF; background-color: #999; border-color:#7BD6F6; -moz-outline:4px solid #E2F5FB; -moz-outline-radius:8px; -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6); box-shadow:0 0 10px rgba(123, 214, 246, .6);}

.btn_quan{padding: 3px 10px 3px 5px; border-radius:3px; color: #FFF; cursor: pointer; background-color: #FE6600; }
.btn_quan:hover{color: #FFF; background-color: #999;  border-color:#7BD6F6; -moz-outline:4px solid #E2F5FB; -moz-outline-radius:8px; -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6); box-shadow:0 0 10px rgba(123, 214, 246, .6);}

.login_status_online{ width: 16px; height: 16px; background:url(../../image/common/login_status.png) no-repeat 0 0; display:inline-block; cursor: pointer; vertical-align: bottom; }
.login_status_hidden{ width: 16px; height: 16px; background:url(../../image/common/login_status.png) no-repeat 0 -16px; display:inline-block; cursor: pointer; vertical-align: bottom; }
/*--css3---*/
.radius3{border-radius:3px;}
.radius5{border-radius:5px;}
.arrow{font-family: simsun; margin: 0 4px;}

/*--- paging ---*/
.s_l_l_a{ display: inline-block; padding: 3px 0; width: 30px; text-align: center; border: 1px solid #CCC; color: #999; font-size: 12px;}
.s_l_l_a:hover{ background: #999; color: #FFF;}
.s_l_l_a_select{ display: inline-block; padding: 3px 0; width: 30px; text-align: center; border: 1px solid #6ccacd; font-size: 12px;font-weight: bold; background: #6ccacd; color: #FFF; }

.close_x{
    width: 16px;
    padding: 0;
    text-align: center;
    color: #999;
    font-size: 14px;
    cursor: pointer;
    font-weight: normal;
    vertical-align: middle;
}
.close_x:hover{
    background: #8396A9;
    color: #FFF;
    border-radius: 2px;
}


.ico_setup{
    background-image: url("../../image/common/icon_main.png");
    background-position: -804px -34px;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
}
.ico_msg{
    background-image: url("../../image/common/icon_main.png");
    background-position: -821px 0;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
}

.header_search{
    position: absolute;
    top: 0;
    width: 160px;
    left: 500px;
}
.search_inner{
    background: none repeat scroll 0 0 #EDEDED;
    border-radius: 1px 1px 1px 1px;
    height: 21px;
    line-height: 21px;
    overflow: hidden;
    position: relative;
}
.input_search {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #818181;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    outline: 0 none;
    overflow: hidden;
    padding: 3px 3px 3px 5px;
    width: 117px;
    position: relative;
    bottom: 1px;
}
.bt_search {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #CACACA;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    cursor: pointer;
    height: 21px;
    outline: medium none;
    vertical-align: top;
    width: 25px;
    background-image: url("../../image/common/icon_main.png");
    background-position: -126px -35px;
}

.ico_friendfeed, .ico_specialcare, .ico_mentionme, .ico_sharespace, .ico_store, .ico_school, .ico_talk, .ico_favourite, .ico_attention, .ico_magic, .ico_qq, .ico_frame, .ico_idcard, .ico_time, .ico_ranking, .ico_music{
    height: 18px;
    width: 18px;
    margin: 0 7px 0 8px;
    overflow: hidden;
    vertical-align: middle;
    background-repeat: no-repeat;
    float: left;
    display: inline-block;
    font-size: 0;
    background-image: url("../../image/common/icon_main.png");
}
.ico_friendfeed{
    background-position: -467px -20px;
}
.ico_specialcare{
    background-position: -472px -39px;
}
.ico_mentionme{
    background-position: -483px 0;
}
.ico_sharespace{
    background-position: -491px -38px;
}
.ico_store{
    background-position: -599px -51px;
}
.ico_school{
    background-position: -502px 0;
}
.ico_talk{
    background-position: -486px -19px;
}
.ico_favourite{
    background-position: -524px -16px;
}
.ico_attention{
    background-position: -581px 3px;
}
.ico_magic{
    background-position: -280px -23px;
}
.ico_qq{
    background-position: -322px -43px;
}
.ico_frame{
    background-position: -280px -43px;
}
.ico_idcard{
    background-position: -565px -29px;
    margin-top: 3px;
}
.ico_time{
    background-position: -426px -22px;
}
.ico_ranking{
    background-position: -269px -3px;
}
.ico_music{
    background-position: -291px -3px;
}

.ico_gift, .ico_add, .ico_house {
    height: 16px;
    width: 16px;
    margin: 2px 7px 0 8px;
    overflow: hidden;
    vertical-align: middle;
    background-repeat: no-repeat;
    float: left;
    display: inline-block;
    font-size: 0;
    background-image: url("../../image/common/icon_main.png");
}
.ico_gift{
    background-position: -668px -51px;
}
.ico_add{
    background-position: -668px -34px;
}
.ico_house{
    background-position: -957px 0px;
}

.icon_hand{
    background-image: url("../../image/common/icon_main.png");
    background-position: -957px -17px;
    cursor: pointer;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
}

.icon_feedctrall, .icon_feedctrblog, .icon_feedctrrefresh, .icon_feedctrset{
    background-image: url("../../image/common/icon_main.png");
    height: 14px;
    width: 16px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
}
.icon_feedctrall{
    background-position: -770px 0;
}
.icon_feedctrblog{
    background-position: -617px -34px;
}
.icon_feedctrrefresh{
    background-position: -787px -51px;
}
.icon_feedctrset{
    background-position: -804px 0;
}

.icon_stateplay{
    background-image: url("../../image/common/icon_main.png");
    background-position: -838px 0;
    height: 16px;
    width: 8px;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
}

.icon_iphone, .icon_ipad, .icon_android, .icon_windowsphone, .icon_mobileother {
    vertical-align: top;
    display: inline-block;
}
.icon_iphone {
    background-image: url("../../image/common/index_login.png");
    background-position: -58px -71px;
    height: 28px;
    width: 28px;
}
.icon_ipad {
    background-image: url("../../image/common/index_login.png");
    background-position: -58px -100px;
    height: 28px;
    width: 28px;
}
.icon_android {
    background-image: url("../../image/common/index_login.png");
    background-position: -87px -42px;
    height: 28px;
    width: 28px;
}
.icon_windowsphone {
    background-image: url("../../image/common/index_login.png");
    background-position: -87px -100px;
    height: 28px;
    width: 28px;
}
.icon_mobileother {
    background-image: url("../../image/common/index_login.png");
    background-position: -87px -71px;
    height: 28px;
    width: 28px;
}

.icon_hover_top_mate, .icon_hover_top_group, .icon_hover_top_business, .icon_hover_top_help, .icon_hover_top_activity, .icon_hover_top_teacher, .icon_hover_top_ranking, .icon_hover_top_senior, .icon_hover_top_postgraduate, .icon_hover_top_app {
    background-image: url("../../image/common/hover_top.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 50px;
    width: 50px;
}
.icon_hover_top_group {
    background-position: 0 -50px;
}
.icon_hover_top_business {
    background-position: 0 -100px;
}
.icon_hover_top_activity {
    background-position: 0 -150px;
}
.icon_hover_top_help {
    background-position: 0 -200px;
}
.icon_hover_top_teacher{
    background-position: 0 -250px;
}
.icon_hover_top_ranking{
    background-position: 0 -300px;
}
.icon_hover_top_postgraduate{
    background-position: 0 -350px;
}
.icon_hover_top_senior{
    background-position: 0 -400px;
}
.icon_hover_top_app{
    background-position: 0 -450px;
}
/*--- index_index ---*/
.index_hot_mate_ul{
    padding: 10px;
    margin: 20px 0 0 0;
    border: 1px solid #EEE;
    background-color: #FFF;
    border-radius: 5px;
}
.index_hot_mate_ul li{
    padding: 10px 5px;
}
.index_hot_mate_ul_li{
    border-bottom: 1px solid #EEE;
}



/*--- index_school ---*/
.school_list_ul{
    margin: 10px;
    padding: 0;
}
.school_list_ul_initial_p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    padding-left: 15px;
}
.school_list_ul li .ui-btn{
    display: block;
    margin-bottom: 5px;
}
/*--- index_changeschool ---*/
.school_list_recomand_ul{
    background-color: #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 10px;
}
.school_list_ul_initial_p{
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    padding-left: 15px;
}
.school_list_recomand_ul li .ui-btn{
    display: block;
    margin-bottom: 5px;
}

/*--- index_hot ---*/
.hot_right_ul{
    padding: 0;
    margin: 0;
}
.hot_right_ul li{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 15px;
    position: relative;
}
.h_r_ul_li_num{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;        
}
.h_r_ul_li_hit{
    float: right;
}
.h_r_ul_li_comtent{
    margin: 10px 0;
}
.hot_left_ul{
    padding: 0;
    margin: 0;
}
/*--- index_mate ---*/
.main_mate_user_ul{
    padding: 0;   
}
.main_mate_user_ul li{
    margin: 5px;
    padding: 10px;
    border: 1px solid #EEE;
    background-color: #FFF;
    border-radius: 5px;
}
.m_m_u_u_li_name{
    display: block;
}
.select_view_sex_span{
    display: block;
    margin: 15px 10px;
}

/*--- user_register ---*/
.registe_ul{
    padding: 0;
    margin: 0;
}
/*--- stream_index ---*/
.verification_code_p{
    position: absolute;
    left: 360px;
    top: 120px;
    display: none;
}
.verification_code_p input{
    padding: 2px;
    width: 68px;
    color: #666;
    font-size: 12px;
}
.verification_code_p img{
    vertical-align: bottom;
}
.stream_list_ul{
    padding: 0;
}
.stream_list_ul_li{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 15px;
    min-height: 88px;
    padding: 15px 10px;
    position: relative;
}
.steam_repate_li{
    display: none;
}
.stream_list_ul_sort{
	text-align: right;
	padding: 6px 5px 3px 0px;
	height: 20px;
	border-bottom:1px dotted #CCC;
	border-top:1px dotted #CCC;
}
.stream_list_ul_sort_a{
    padding: 1px 2px;
    border-radius: 3px;
    color: #999;
    border: 1px solid #DDD;
}
.s_li_p_icon{
    width: 73px;
    position: absolute;
    left: 10px;
    top: 0px;
}
.s_li_p_user{
    position: absolute;
    left: 90px;
    top: 15px;
}
.s_li_user_constellation{
    position: absolute;
    top: 43px;
    left: 90px;
}
.s_li_user_time{
    position: absolute;
    top: 60px;
    left: 90px;
}
.s_li_p_content{
    margin: 70px 0 0;
}
.s_li_p_content_image{
    text-align: center;
}
.s_li_p_content_image img{
    border: 1px solid #EEE;
    cursor: pointer;
    border-radius: 3px;
    margin: 5px 3px 5px 0;
    max-width: 398px;
}
.s_li_p_content_mv{
    text-align: center;
}
.s_li_p_content_mv_img_p{
    width: 150px;
    height: 110px;
    position: relative;
    cursor: pointer;
    border: 1px solid #EEE;
}
.s_li_p_content_mv_img{
    width: 150px;
    height: 110px;
}
.s_li_p_content_video_icon{
    width:60px;
    height:60px;
    background:url(../../image/common/video.png) no-repeat 0 0;
    display:inline-block;
    position: absolute;
    left: 46px;
    top: 25px;
}
.s_li_p_content_video_icon:hover{
    background:url(../../image/common/video.png) no-repeat 0 -60px;
}
.s_li_s_comment {
    padding: 10px 0 0;
}
.comment_view_div_box_reply{
    margin-bottom: 10px;
    position: relative;
    height: 95px;
}
.comment_view_div_box_reply_textarea{
    width: 460px;
    height: 60px;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}
.comment_textareaicon_reply{
    position: absolute;
    left: 0;
    top: 70px;
}
#comment_textareaicon{
    position: absolute;
    left: 0px;
    bottom: 3px;
}
.comment_reply_verification_stream{
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 200px;
    display: none;
}
.comment_reply_verification_stream_code_img{
    vertical-align: text-bottom;
}
.comment_reply_verification_streamcode{
    width: 60px;
    padding: 3px;
    -moz-transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s;
    border: 1px solid #D0D0D0;
    color: #666666;
    font-size: 12px;
    outline: medium none;
    word-wrap: break-word;
    vertical-align: text-bottom;
    margin-left: 5px;
}

.comment_reply_submit{
    position: absolute;
    right: 0;
    bottom: 0;
}

.comment_view_div_box{
    margin:10px 0 0 115px;
    border:1px solid #DDD;
    border-radius:3px;
    padding:20px;
    display:none;
}
.comment_view_div_box_ul{
    margin-bottom: 10px;
    border-top: 1px solid #DDDDDD;
}
.comment_view_div_box_ul li{
    padding: 10px 5px;
    border-bottom: 1px solid #EEE;
    position: relative;
    min-height: 10px;
}
.c_v_d_b_ul_li_icon{
    position: absolute;
    left: 5px;
    top: 10px;
}
.c_v_d_b_ul_li_content{
    margin: 0 0 10px 50px;
}
.c_v_d_b_ul_li_content_image{
     margin: 0 0 10px 50px;
}
.c_v_d_b_ul_li_content_image img{
    border: 1px solid #999;
    border-radius: 3px;
}
.c_v_d_b_ul_li_content_reply{
    display: block;
    margin: 0 0 0 50px;
    text-align: right;
}

.comment_view_div_box_replyinner{
    margin-bottom: 10px;
    position: relative;
    height: 65px;
    margin: 10px 0 0 50px;
    display: none;
}
.comment_view_div_box_replyinner_textarea{
    width: 400px;
    height: 30px;
    border-radius: 3px;    
    position: absolute;
    top: 0;
    left: 0;
}
.comment_textareaicon_replyinner{
    position: absolute;
    left: 0px;
    bottom: 3px;
}

.steam_repate_li_show{
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 3px;
    text-align: center;
}
.steam_repate_li_show:hover{
    border-color:#7BD6F6;
    -moz-outline:4px solid #E2F5FB;
    -moz-outline-radius:8px;
    -webkit-box-shadow:0 0 10px rgba(123, 214, 246, .6);
    box-shadow:0 0 10px rgba(123, 214, 246, .6);
}
.stream_list_link{
    padding: 10px;
    text-align: center;
}
.s_l_l_a{
    display: inline-block;
    padding: 3px 0;
    width: 30px;
    text-align: center;
    border: 1px solid #CCC;
    color: #999;
    font-size: 12px;
}
.s_l_l_a:hover{
    background: #999;
    color: #FFF;
}
.s_l_l_a_select{
    display: inline-block;
    padding: 3px 0;
    width: 30px;
    text-align: center;
    border: 1px solid #6ccacd;
    font-size: 12px;
    font-weight: bold;
    background: #6ccacd;
    color: #FFF;
}

/*--- stream_publish ---*/
.stream_textbox_ul{
    padding: 0;
}
.img_upload_form_div{
    display: none;
}
#post_help_reword{
    display: none;
}

#emotionbox{
    position: absolute;
    left: 0px;
    top: 35px;
    z-index: 1111;
    background: #FFF;
    border: 1px solid #DDDDDD;
    display: none;
    min-height: 160px;
    min-width: 300px;
}
.replyemotionbox{
    z-index: 1111;
    background: #FFF;
    border: 1px solid #DDDDDD;
    display: none;
    min-height: 160px;
    min-width: 300px;
}
#emotionbox_item{    
    display: none;
    position: absolute;
    top: 140px;
    left: 5px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    min-height: 160px;
    min-width: 300px;
    z-index: 1111;
}
.emotionbox_show_ul{
    padding: 5px;
}
.emotionbox_show_ul li{
    padding: 3px 8px;
}
.emotionbox_show_ul li img{
    cursor: pointer;
    padding: 1px;
}
.emotionbox_show_ul_inner{
    padding: 5px;
}
.emotionbox_show_ul_inner li{
    padding: 3px 8px;
}
.emotionbox_show_ul_inner li img{
    cursor: pointer;
    padding: 1px;
}
.emotionbox_close_p{
    background: #EEEEEE;
    padding: 10px 10px 5px;
}
.emotionbox_close_p .emotionbox_change_page{
    padding: 6px 8px;
    font-size: 12px;
    color: #333;
}
.emotionbox_close_p .emotionbox_change_page:hover{
    background: #FFF;
    color: #333;
}
.bg_emotionbox_page_select{
    background: #FFFFFF;
    border-color: #DDDDDD;
    border-style: solid solid none;
    border-width: 1px 1px 0;
}
#emotionbox_close{
    position: absolute;
    right: 5px;
    top: 5px;
}

/*--- item_say ---*/
.i_content_p{
    margin: 15px 0;
}
.i_record_diffusion{
    padding: 0;
    margin: 10px 0;
}
.i_record_diffusion li{
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin: 1px 0;
    padding: 15px;
}
.i_record_plus{
    padding: 0;
}
.i_record_plus li{
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    margin: 1px 0;
    padding: 15px;
}
.i_comment_list_ul{
    padding: 0;
    margin: 10px 0;
}
.i_comment_list_ul li{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 15px;
}
.i_c_b_verification, .comment_reply_verification, .img_upload_comment_form_div{
    display: none;
}

/*--- item_help ---*/
.i_h_c_content{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 15px;
}

/*--- message_index ---*/
.message_index_ul{
    padding: 0;
}
.message_index_ul li{
    padding: 5px 0;
}

/*--- message_system ---*/
.msg_ul{
    padding: 0;
}
.msg_ul li{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 15px;
}
.msg_div_del{
    border: 1px solid #DDD;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #EEE;
}
.msg_li_time{
    color: #A8A8A8;
    font-size: 12px;
}

/*--- message_comment ---*/
.msg_com_ul{
    padding: 0;
}
.msg_com_ul li{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 15px;
    position: relative;
}
.msg_com_ul li .a_view_info{
    font-weight: normal;
    font-size: 12px;
}
.msg_comment_info{
    position: absolute;
    left: 95px;
    margin: 0;
    top: 15px;
}
.msg_comment_sub_info{
    position: absolute;
    left: 95px;
    margin: 0;
    top: 35px;
}
.msg_comment_contentdetail{
    margin: 15px 0;
    color: #333;
    font-weight: normal;
}
.msg_comment_contentdetail .msg_comment_contentdetail_a{
    color: #333;
    font-weight: normal;
}
.msg_com_ul li .msg_notread{
    background: #FFFA85;
}
/*--- talk_index ---*/
.talk_index_history_ul{
    padding: 0;
}
.talk_index_history_ul li{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 15px;
}

/*--- talk_history ---*/
.talk_history_ul{
    padding: 0;
}
.talk_history_ul li{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 15px;
}


/*--- wo_index ---*/
.img_part_me{
    position: relative;
    width: 300px;
    margin: 15px auto;
}
.img_part_me img{
    border: 1px solid #EEE;
}
.img_part_me i{
    position: absolute;
    left: 5px;
    bottom: 10px;
}
.wo_top_div_ul{
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}
.wo_top_div_ul li{
    border-right: 1px solid #EEEEEE;
    display: inline-block;
    height: 33px;
    padding: 5px 25px;
    position: relative;
    text-align: center;
    vertical-align: bottom;
}
.wo_top_div_ul_num{
    display: block;
    color: #37579E;
}
.wo_user_timebar{
    margin: 30px 0;
}
.wo_top_div{
    background-color: #EEEEEE;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 10px;
}
.wo_top_div_school{
    margin: 5px 0;
}

/*--- wo_help ---*/
.wo_main_ul{
    padding: 0;
}
.wo_main_ul li{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 15px;
    min-height: 88px;
    padding: 15px 10px;
    position: relative;
}
.wo_li_p_content_help{
    margin: 10px 0;
}
.wo_li_p_icon{
    margin: 0;
}
.wo_li_p_user{
    position: absolute;
    left: 90px;
    top: 15px;
}

/*--- wo_diffusion ---*/
.wo_main_diffudion{
    padding: 0;
}
.wo_main_diffudion li{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 15px;
    padding: 15px 10px;
    position: relative;
}
.wo_user_li_icon{
    position: absolute;
    left: 10px;
    top: 15px;
}
.wo_user_li_p{
    margin: 0 0 0 65px;
    min-height: 35px;
}
.wo_user_li_time_span{
    margin: 8px 0 0 0;
    display: block;
    font-size: 12px;
    color: #A8A8A8;
}

/*--- setting_index ---*/
.setindex{
    padding: 0;
}